<link rel="stylesheet" href="catalog/view/theme/ag-global-pharma/stylesheet/about.css">
<section class="first-panel" id="first-panel">
		<div class="first-panel-center">
			<div class="first-panel-content">
				<h2 class="heading-text dark-green">About Us</h2>



				<p class="panel-text">Started it’s modest beginnings on March 2008. A company that distributes herbal food supplements servicing pharmacies throughtout the Visayas and Mindanao region. With the intent to deliver the best quality, effective, reliable and enrichment of the lives growing needs of the modern people today. </p>



			</div>


 <!-- first-panel-content -->
		</div>


 <!-- first-panel-center -->
	</section> <!-- first-panel -->

	<section class="second-panel">
		<div class="second-panel-center">
			<div class="about-second-panel-content">
				<h2 class="heading-text dark-green">All Natural</h2>




				<img src="catalog/view/theme/ag-global-pharma/images/index/bioclear.png" alt="">
				<img src="catalog/view/theme/ag-global-pharma/images/index/hemoroid.png" alt="">
				<img src="catalog/view/theme/ag-global-pharma/images/index/innerg.png" alt="">
				<img src="catalog/view/theme/ag-global-pharma/images/index/gold.png" alt="">
				<img src="catalog/view/theme/ag-global-pharma/images/index/reglar.png" alt="">

				<div class="clear"></div>




				<p class="panel-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, ut, recusandae deserunt possimus eveniet amet ratione odio delectus non pariatur dicta voluptatem consequatur natus iure nobis cum asperiores laborum animi sint ex omnis velit saepe consectetur vel rerum dolorem id placeat illo quo debitis ducimus fugit exercitationem modi alias provident.</p>




				<a href="#0" class="ag-button">View Our Products</a>
			</div>


 <!-- second-panel-content -->
		</div>


 <!-- second-panel-center -->
	</section> <!-- second-panel -->