<div class="bioclear-item">
					<div class="center">
						<div class="bioclear-item-img">
							<img src="catalog/view/theme/ag-global-pharma/images/product/coptis-root.jpg" alt="">
						</div>



						
						<div class="bioclear-item-text">
							<h3>Coptis Root</h3>



							<p>Rhizoma coptis</p>



							<ul>



								<li>Improves Liver function to detoxify and cleanse impurities</li>



								<li>Prevents clogged pores</li>



								<li>Helps reduce inflammation</li>



							</ul>



						</div>




						<div class="clear"></div>



					</div>




					<div class="clear"></div>



				</div>


 <!-- bioclear-item -->

				<div class="bioclear-item">
					<div class="bioclear-item-img">
						<img src="catalog/view/theme/ag-global-pharma/images/product/wood-root.jpg" alt="">
					</div>




					<div class="bioclear-item-text">
						<h3>Woad Root</h3>



						<p>Radix Isatis</p>



						<ul>



							<li>Improves lung function</li>



							<li>Prevents and treats skin rash and blemishes</li>



							<li>Antibacterial, antiviral properties</li>



						</ul>



					</div>




					<div class="clear"></div>



				</div>


 <!-- bioclear-item -->

				<div class="bioclear-item">
					<div class="bioclear-item-img">
						<img src="catalog/view/theme/ag-global-pharma/images/product/baical.jpg" alt="">
					</div>




					<div class="bioclear-item-text">
						<h3>Baical Skullcap Root</h3>



						<p>Radix Skutellaria Baicalensis</p>



						<ul>



							<li>Strengthens immune system</li>



							<li>Fights pimple causing bacteria</li>



							<li>Eliminates redness and swelling of skin</li>



						</ul>



					</div>




					<div class="clear"></div>



				</div>


 <!-- bioclear-item -->

				<div class="bioclear-item">
					<div class="bioclear-item-img">
						<img src="catalog/view/theme/ag-global-pharma/images/product/chamellion.jpg" alt="">
					</div>




					<div class="bioclear-item-text">
						<h3>Chamelion Leaf</h3>



						<p>Herba Houttuynia</p>



						<ul>



							<li>Strengthens kidney system</li>



							<li>Promotes urination and prevents water retention</li>



							<li>Rejuvinates environmentally stressed skin &amp; prevents abscess &amp; plus</li>



						</ul>



					</div>




					<div class="clear"></div>



				</div>


 <!-- bioclear-item -->
<div class="clear"></div>