	<section class="faq-panel" id="first-panel">
		<div class="faq-panel-center">
			<div class="faq-panel-content">
				<h2 class="heading-text dark-green">Faq</h2>

				<div class="accordion">
				    <h3><i class="fa fa-caret-right"></i>What are the benefits of Herbal Medicines?</h3>
				    <div class="pane">
				        <p>Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices a. Mauris mauris ante, blandit et, ultrices a....</p>
				    </div>

				    <h3><i class="fa fa-caret-right"></i>Herbal Medicines, are they safe?</h3>
				    <div class="pane">
				        <p>Sed non urna. Donec et ante. Phasellus eu ligula. Sed non urna. Donec et ante. Phasellus eu ligula. Sed non urna. Donec et ante. Phasellus eu ligula....</p>
				    </div>

				    <h3><i class="fa fa-caret-right"></i>Lorem ipsum dolor sit amet.</h3>
				    <div class="pane">
				       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, quaerat!</p>
				    </div>

				    <h3><i class="fa fa-caret-right"></i>Lorem ipsum dolor sit amet.</h3>
				    <div class="pane">
				       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, quaerat!</p>
				    </div>
				</div>
			</div> <!-- faq-panel-content -->
		</div> <!-- faq-panel-center -->
	</section> <!-- faq-panel -->