<div class="hemroid-container">
					<h3>Suggested Use</h3>



					<p>4 tablets each time, for at least 4 days.</p>




					<h3><strong>Hemorrhoids can be a annoyance</strong></h3>



					<p>Enlarged veins near the lower end of the rectum or outside the anusmanifest as either internal or external hemorrhoids. General symptoms include pain, itching, 
					swelling and bleeding after bowel movement. Whileexternal hemorrhoids often cause pain in the anus area, the internal type isusually associated with painless rectal bleeding.</p>




					<h3>The most frequent causes of hemmorrhoids are:</h3>



					<ul>



						<li>irregular bowel</li>



						<li>low-fiber diet</li>



						<li>overuse of laxatives</li>



					</ul>



					<ul>



						<li>increased intra</li>



						<li>pregnancy</li>



						<li>aging</li>



					</ul>




					<div class="clear"></div>




					<h3><strong>HEM-ROID is effective</strong></h3>



					<p>Clinical studies show that bioflavonoids are effective in the treatment of hemorrhoids. HEM-ROID is rich in:</p>




					<div class="hemroid-inner-content">
						<div class="hemroid-item">
							<img src="catalog/view/theme/ag-global-pharma/images/product/ampelopsis-root.jpg" alt="">
							<h3><strong>Ampelopsis Root</strong></h3>



							<p>Promotes tissue growth and regeneration</p>



						</div>




						<div class="hemroid-item">
							<img src="catalog/view/theme/ag-global-pharma/images/product/black-beans.jpg" alt="">
							<h3><strong>Black Bean</strong></h3>



							<p>Provides high amounts of fiber and helps in softening stools</p>



						</div>




						<div class="hemroid-item">
							<img src="catalog/view/theme/ag-global-pharma/images/product/pagoda-flowers.jpg" alt="">
							<h3><strong>Pagoda Flowers</strong></h3>



							<p>Contain flavonoids that improve capillary or vein function by reducin abnormal leakage</p>



						</div>


 

						<div class="hemroid-item">
							<img src="catalog/view/theme/ag-global-pharma/images/product/gull-nut.jpg" alt="">
							<h3><strong>Gallnut</strong></h3>



							<p>A potent antioxidant that helps dissolve blood clots which is the common cause for swollen and painful hemmorrhoids</p>



						</div>



					</div>


 <!-- hermroid-inner-content -->

					<div class="clear"></div>




					<h3><strong>HEM-ROID delivers results!</strong></h3>



					<p>Many users has experienced a feel of relief after 4 days of taking 4 tablets each time, 3 times a day of HEM-ROID herbal dietary supplement. Anoticeable decrease in size has also been observed by many users within few more weeks.</p>



				</div>


 <!-- hemrpoid-container -->
		
				<div class="clear"></div>