<div class="innerg-container">
					<p><strong>Inner G </strong>is a Supreme aphrodisiac with renewing and revitalizing effect. It is found to be able to enhance the expansion of the sponge tissues of the male organ, increases the stiffness and size, thus increasing the power of the male organ with amazing results. It helps increase sexual vitality, restore sexual capacity, prolonging duration of sexual pleasure and defeats sexual debility and inability - Naturally  so partners can continue to enjoy a healthy, loving and fulfilling relationship.
					</p>


					<h3>Inner G benefits conditions such as:</h3>

					<ul>

						<li>Premature ejaculation</li>

						<li>Impotency</li>

						<li>Lack of Libido</li>

					</ul>

					<ul>

						<li>Failure to maintain an erection</li>

						<li>Male exhaustion and fatigue</li>

					</ul>


					<div class="clear"></div>


					<h3><strong>Dosage</strong></h3>

					<p>For renewing and revitalizing purpose, take 1 capsule before  becoming intimate with your partner and best taken on an empty stomach</p>


					<p>Ingredients:</p>


					<div class="innerg-inner-content">
						<div class="innerg-item">
							<img src="catalog/view/theme/ag-global-pharma/images/product/ginseng.jpg" alt="">
							<h3><strong>Ginseng</strong></h3>

							<!-- <h4>(Radix Ginseng)</h4>
 -->
							<p>Ginseng is a good tonic that benefits one's stamina and helps boost energy levels</p>

						</div>


						<div class="innerg-item">
							<img src="catalog/view/theme/ag-global-pharma/images/product/tongkat-ali.jpg" alt="">
							<h3><strong>Tongkat Ali</strong></h3>

							<!-- <h4>(Eurycoma longifolia)</h4>
 -->
							<p>Provides high amounts of fiber and helps in softening stools</p>

						</div>


						<div class="innerg-item">
							<img src="catalog/view/theme/ag-global-pharma/images/product/euccomia.jpg" alt="">
							<h3><strong>Eucommia</strong></h3>

							<!-- <h4>(Eucommia Ulmoides)</h4>
 -->
							<p>Has a compound that encourages the development of collagen in the body. Collagen is an important part of connective tissues such as tendons and ligaments</p>

						</div>
 

						<div class="innerg-item">
							<img src="catalog/view/theme/ag-global-pharma/images/product/ganoderma.jpg" alt="">
							<h3><strong>Ganoderma</strong></h3>

							<!-- <h4>(Ganoderma Lucidum)</h4>
 -->
							<p>Helps boosts the immune system</p>

						</div>

					</div>
 <!-- innerg-inner-content -->

					<div class="clear"></div>

				</div>
 <!-- innerg-container -->