<div class="reglar-container">
					<h3><strong>Regular Ka Ba?</strong></h3>


					<p>Menstruation, also called mense or “Regla”, is a woman’s monthly bleeding (pagdurugo). An average menstrual cycle is 28 days, but anywhere from 21-35 days is normal, except for women who are pregnant or moving into menopause. Having regular menstrual cycle is a sign that important parts of the body are working normally.</p>


					<h3>Menstrual Disorder</h3>

					<p>Menstrual disorder consist of changes in the normal menstruation process that may result from physical or emotional problem that interferes with the normal menstrual cycle, causing pain, unusual heavy or light bleeding, delayed menstruation, or missed periods.</p>


					<p>Menstrual disorders can affect school and work productivity and social activities.</p>


					<div class="padding-20px">
						<h3><strong>a. Dysmenorrhea</strong></h3>

						<p>Painful periods that may occur 1 or 2 days before menstruation. It may sometimes be accompanied by backache, headache or nausea.</p>


						<h3><strong>b. Amenorrhea</strong></h3>

						<p>Absence of menstruation in the normal menstruation cycle.</p>


						<h3><strong>c. Pre Menstrual Syndrome (PMS)</strong></h3>

						<p>Physical and emotional symptoms that occur a week before menstruation.</p>


						<h3><strong>d. Menorrhagia</strong></h3>

						<p>Menstrual period that lasts longer than seven days and produce large amount of menstrual blood and sometimes with clots</p>

					</div>


					<h3><strong>Para Maging Regular</strong></h3>


					<ul>

						<li>Blood Clot</li>

						<li>Polycystic Ovary</li>

						<li>Cervical Diseases</li>

						<li>Endometriosis</li>

					</ul>

					<ul>

						<li>Uterine Polyps</li>

						<li>Physical / Emotional Stress</li>

						<li>Use of Birth Control Pills Contraceptives</li>

					</ul>


					<div class="clear"></div>


					<p>A healthy menstrual cycle throughout a woman’s reproductive years is a sign of 
					balanced and healthy ovarian system. Menstrual disorders can be a sign of potential imbalances, which may affect fertility and menopausal problems in the future. Ways that can help these factors may not only be helpful in treating or preventing menstrual difficulties, but may lower the risk of other reproductive system problems in the future.</p>


					<h3><strong>Mag - REGLAR</strong></h3>


					<div class="reglar-inner-content">
						<div class="reglar-item">
							<div class="reglar-item-img">
								<img src="catalog/view/theme/ag-global-pharma/images/product/ginseng.jpg" alt="">
							</div>


							<div class="reglar-item-text">
								<h3><strong>Ginseng</strong></h3>

								<p>A traditiional medicine used in the treatment of menstrual 
								disorders such as irregular menstruation, amenorrhea and dysmenorrhea. As an analgesic and antispasmodic for symptomatic treatment of rheumatic arthralgia, abdominal pain and in the management of post-operative pain.</p>

							</div>


							<div class="clear"></div>

						</div>


						<div class="reglar-item">
							<div class="reglar-item-img">
								<img src="catalog/view/theme/ag-global-pharma/images/product/ganoderma.jpg" alt="">
							</div>


							<div class="reglar-item-text">
								<h3><strong>Ganoderma</strong></h3>

								<p>A traditional herb used as a remedy for female reproductive 
								disorders, stimulates the muscles of the uterus and is used to treat delayed menstruation, menstrual pain and premenstrual tension. </p>

							</div>


							<div class="clear"></div>

						</div>


						<div class="clear"></div>

					</div>
 <!-- innerg-inner-content -->

					<h3><strong>Dosage:</strong></h3>

					<p>For Remedy - 2 capsules each time, 2 times a day, until symptoms are no longer evident. <br> For Prevention and health support - 1 to 2 capsules a day.</p>


					<div class="clear"></div>

				</div>
 <!-- innerg-container -->
		
				<div class="clear"></div>