.text-left {
	text-align: left !important;
}

.min-100vh{
	min-height: calc(100vh - 240px);
}

.panel-group{
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;

}

.accordion_custom{
	margin-bottom: 30px;
	font-family: 'Lato', Arial, sans-serif;
	border-radius: 25px;
	border: solid 1px #aaa;
	overflow: hidden;
}
.pricing tbody tr td:nth-of-type(1) div {
	width: 100px;
	margin: 0 auto;
	border: 1px solid #ddd;
	padding: 5px;
}
.pricing tbody tr td:nth-of-type(1) div img {
	width: 100%;
}
.pricing tbody tr td {
	vertical-align: top;
}

.pricing thead tr th:nth-of-type(3),
.pricing thead tr th:nth-of-type(4) {
	text-align: left !important;
}  
.pricing tbody tr:nth-of-type(2) td:nth-of-type(3),
.pricing tbody tr:nth-of-type(2) td:nth-of-type(4) {
	text-align: left !important;
}  

.pricing thead tr th:nth-of-type(4) {
	text-align: left !important;
} 
.pricing-ver1 {
	margin: 0 auto;
	display: none;
}
.pricing-ver1 tr td {
	border: 1px solid #999;
	padding: 7px;
}
.pricing-ver1 tr:nth-of-type(1) td {
	font-size: 20px;
	font-weight: bold;
}
.pricing-ver1 tr:nth-of-type(2) td p:nth-of-type(1) {
	float: left;
}
.pricing-ver1 tr:nth-of-type(2) td p:nth-of-type(2) {
	float: right;
}
.pricing-ver1 tr:nth-of-type(3) td {
	text-align: center;
}
.pricing-ver1 tr:nth-of-type(3) td 	.ag-button {
	margin: 5px;
	width: 100px;
	font-size: 15px;
	width: 50px;
}
.pricing-ver1 tr:nth-of-type(4) td p:nth-of-type(1),
.pricing-ver1 tr:nth-of-type(5) td p:nth-of-type(1)  {
	float :left;
}
.pricing-ver1 tr:nth-of-type(4) td p:nth-of-type(2),
.pricing-ver1 tr:nth-of-type(5) td p:nth-of-type(2) {
	float: right;
}
@media (max-width: 992px){
	.accordion_custom{
		border-radius: 0;
		margin-bottom: 0;
		border: solid 1px #fff;
	}
}

.panel-heading {
	background-color: #13525f;
	border-radius: 0;
}

.panel-heading a {
	color: #fff;
	text-decoration: none;
}

.panel-heading h4{
	font-size: 25px;
} 

.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit;
}

.panel-title .fa{
	margin-right: 10px;
}

.panel-body {
	padding: 15px;
}

@media (max-width: 992px){
	.panel-body {
		padding: 5px !important;
	}
}

.panel-body .title-body {
	font-weight: 500;
	padding: 0 20px;
}

.panel-body textarea{
	resize: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	height: 150px;
}

.panel-body table.pricing thead tr th,
.panel-body table.pricing tbody tr td{
	padding: 10px 20px;
	border: solid 1px #aaa;
}

.panel-body table.pricing{
	width: 100%;
}

.panel-body table.pricing thead tr th:nth-of-type(1n+3),
.panel-body table.pricing tbody tr td:nth-of-type(1n+3){
	text-align: right;
}

@media (max-width: 992px){
	.panel-body table.pricing thead tr th{
		text-align: center !important;
	}

	.panel-body table.pricing thead tr th,
	.panel-body table.pricing tbody tr td{
		padding: 5px;
		vertical-align: top;
		font-size: 12px;
	}
}

.panel-collapse.collapse{
	display: block;
	overflow: hidden;
	max-height: 0px;
	transition: max-height .5s;
}

.panel-collapse.in{
	height: auto;
	max-height: 2000px;
	transition: max-height .8s;
}

.form-table{
	width: calc(95% - 10px);

}

.form-table tbody tr td{
	width: 200px;
	text-align: right;
	padding-bottom: 20px;
	vertical-align: middle;
}

.form-table tbody tr td input[type="text"],
.form-table tbody tr td:nth-of-type(1) label{
	display: inline-block;
}

.form-table tbody tr td:nth-of-type(1) label{
	margin-right: 10px;
}

.form-table tbody tr td:nth-of-type(2){
	text-align: left;
	width: calc(80% - 10px);
}

.form-table tbody tr td:nth-of-type(2) input{
	width: calc(100% - 10px);
	margin-left: 0;
}

.form-table tbody tr td span{
	margin-right: 10px;
}

.form-table tbody tr td .select{
	width: calc(100% - 10px);
	margin-left: 10px;
}

@media (max-width: 992px){
	.form-table{
		width: 100%;

	}

	.form-table tbody tr td{
		display: block;
		width: 100%;
		text-align: left;
		padding-bottom: 0;
	}

	.form-table tbody tr td:nth-of-type(2){
		width: 100%;
		padding-bottom: 20px;
	}

	.form-table tbody tr td:nth-of-type(2) input{
		margin-left: 0;
	}

	.form-table tbody tr td span{
		margin-right: 0;
	}
}

@media (max-width: 650px) {
	.pricing {
		display: none;
	}
	.pricing1-div {
		width: 400px;
		margin: 0 auto;
	}
	.pricing-ver1 {
		display: block;

	}
	.pricing tbody tr td div {
		width: 63px !important;
	}
	.pricing tbody tr td img {
		width: 50px !important;
	}
	.pricing tbody tr td:nth-of-type(4) form {
		text-align: center;
	}
	.pricing tbody tr td:nth-of-type(4) input {
		width: 100% !important; 
	}
	.pricing tbody tr td:nth-of-type(4) .ag-button {
		padding: 5px;
		margin: 5px auto;
	}

}
@media (max-width: 430px) {
	.pricing1-div {
		width: 100% !important;
	}
}