
.contact-us-panel{
	position: relative;
	height: auto;
	background: #f1e7c3;
	display: flex;
	padding: 150px 0 50px 0;
}

.contact-us-panel-center{
	padding-left: 0;
	display: flex;
	align-items: center;
	text-align: left;
	width: 100%;
}

.contact-us-panel-content{
	width: 100%;
	text-align: center;
	/*background-color: red;*/
}


.contact-us-panel-content .heading-text{
	font-size: 50px;
	margin-bottom: 50px;
	font-family: 'Lato-Light';
}

.form-container{
	max-width: 800px;
	padding: 0 20px;
	margin: 0 auto;
	/*background: red;*/
}

.form-container input{
	border: 0;
	outline: 0;
	padding: 1%;
}

.contact-name{
	margin-right: 3.5%;
}

.contact-name,
.contact-email{
	width: 48%;
}

.contact-subject{
	width: 100%;
	margin: 3.5% 0;
}

.form-container textarea{
	width: 100%;
	padding: 1%;
	border: 0;
	outline: 0;
	min-height: 200px;
}

.contact-us-panel-content .ag-button{
	margin-top: 20px;
	float: right;
}

#map.contact-us-map{
	height: 300px !important;
}

.contact-text{
	max-width: 800px;
	margin: 0 auto;
	/*background-color: red;*/
	margin-top: 50px;
	padding: 30px 0;
	border-top: 3px solid #afafaf;
}

.contact-text .address{
	/*background-color: red;*/
	margin-bottom: 20px;
}

.contact-text .telephone,
.contact-text .mobile{
	display: inline-block;
}

.contact-text .telephone{
	margin-right: 77px;
}

.contact-text .mobile{
	margin-left: 77px;
}

@media (max-width: 768px){
	.contact-us-panel{
		height: auto;
		padding: 150px 0 50px 0;
	}

	.contact-name{
		margin-right: 3%;
	}

	.contact-us-panel-content .heading-text{
		font-size: 35px;
		margin-bottom: 30px;
	}

	.contact-text{
		margin-right: 20px;
		margin-left: 20px;
	}
}

@media (max-width: 500px){
	.contact-name,
	.contact-email{
		width: 100%;
	}

	.contact-email{
		margin-top: 3.5%;
	}

	.contact-text .telephone,
	.contact-text .mobile{
		display: block;
	}

	.contact-text .telephone{
		margin-right: 0;
	}

	.contact-text .mobile{
		margin-left: 0;
		margin-top: 20px;
	}
}