
.forgot-move-left {
	right: -15px !important;
}


@media (min-width: 993px) and (max-width: 1920px ) {
	.full-panel {
		width: 100%;
		padding: 0px;
		overflow: hidden;
	}

	.nav-right {
		height: 100%;		
	}
	.forgot-navigation {
		float: right;
		width: 20vw;
	}
	.forgot-nav {
		position: fixed;
		border-image: linear-gradient(to bottom, white, #ccc, white) 1 100%;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		float: right;
		height: calc(100vh - 252px);
		margin-top: 0px !important;
		/*padding: 5vw 10px 7vw 10px;*/
		padding: 3vw 10px 7vw 10px;
		width: 20vw;
	}
	.forgot-nav .control-icon  {
		margin: 0 auto;
		width: 100%;
		/*height: calc(100% / 7);*/

	}
	.forgot-nav .ag-button {
		border: none;
		transition: background-color .2s linear;
		width: 100%;
		/*padding: 4px 10px 10px 10px;*/
		padding: 4px 10px 6px 10px;
	}

	.forgot-nav button {
		transition: background-color: .5s linear;
		-webkit-transition: background-color: .5s linear;
		-moz-transition: background-color: .5s linear;
		-o-transition: background-color: .5s linear;
		-ms-transition: background-color: .5s linear;
	}
	.forgot-nav button:hover {
		background-color: #f7941d;
		color: #fff;
	}
	.white-menu .control-icon:nth-child(8) {
		border: none;
	}

	.forgot-panel {
		padding: 20px 50px;
		margin-left: 10vw;
		width: 60%;
	}

}	

@media (max-width: 992px) and (min-width: 421px) {
	.full-panel {
		width: 100%;
		height: calc(100vh - 252px);
		position:relative;
		overflow: hidden;
		padding: 30px 80px 30px 30px;
	}

	.full-panel .forgot-panel {
		width: 100%;
	}
	.full-panel .forgot-navigation {
		 position: absolute;
	    top: 0px;
	    right: -180px;
	    margin-top: 30px;
	    transition: right .5s;
	    background-color: white;
	    z-index: 2;
	}
	.forgot-navigation .white-menu {
		padding-left: 0px;
	}
	.full-panel .forgot-navigation .nav-response,
	.full-panel .forgot-navigation .nav-response .fa {
		display: block;

	}
	.full-panel .forgot-navigation .nav-response {
		    display: block;
    	padding: 12px;
    	border: 2px solid #d8d8d6;
	}
	.full-panel .forgot-navigation .nav-response .fa {
		font-size: 20px;
	}

	.forgot-navigation {
		transition: right .5s;
	}
	.forgot-navigation .white-menu {
		width: initial;

	}

	.forgot-navigation .white-menu .control-icon .fa {
		   display: block;
   		padding: 10px;
    	font-size: 22px;
	}
	.forgot-navigation .white-menu .control-icon .ag-button {
		    font-size: 15px;
    	padding: 10px 10px 8px 65px;
	}
	
}

@media (max-width: 500px) {
	.full-panel {
		padding: 20px 60px 10px 20px;
	}
	.full-panel .forgot-panel {
		padding: 0px;
	}
	.para-content {
		padding: 10px !important;
	}
	.para-content tr td {
		display: block;
		/*margin : 0px !important;*/
	}
	.para-content tr td p {
		float: none !important;
		margin: 0px !important;
	}
	.para-content tr td input {
		width: 95%;
	}
	.title-content {
		    font-size: 20px;
    	height: auto;
	}
}


@media (max-width: 420px) and (min-width: 0px) {
	.full-panel {
		width: 100%;
		/*height: calc(100vh - 310px);*/
		height: auto;
		position:relative;
		overflow: hidden;
		padding: 20px 60px 10px 20px;
		min-height: 550px;
	}

	.full-panel .forgot-panel {
		width: 100%;
	}
	.full-panel .forgot-navigation {
		 position: absolute;
	    top: 0px;
	    right: -180px;
	    margin-top: 30px;
	    transition: right .5s;
	    background-color: white;
	    z-index: 2;
	}
	.full-panel .title-content {
		font-size: 20px;
		padding-left: 10px;
		height: auto;
	}
	.full-panel .box-panel .para-content {
		padding: 5px;
	}
	.full-panel .box-panel table tr td:first-child {
		/*width: 40px !important;*/
	}
	.full-panel .box-panel .para-content div {
		margin-top: 10px !important;
	}
	.full-panel .box-panel .para-content button {
		float: none !important;
		width: 100%;
	}
	.forgot-navigation .white-menu {
		padding-left: 0px;
	}
	.full-panel .forgot-navigation .nav-response,
	.full-panel .forgot-navigation .nav-response .fa {
		display: block;

	}
	.full-panel .forgot-navigation .nav-response {
		    display: block;
    	padding: 12px;
    	border: 2px solid #d8d8d6;
	}
	.full-panel .forgot-navigation .nav-response .fa {
		font-size: 20px;
	}

	.forgot-navigation {
		transition: right .5s;
	}
	.forgot-navigation .white-menu {
		width: initial;

	}

	.forgot-navigation .white-menu .control-icon .fa {
		   display: block;
   		padding: 10px;
    	font-size: 22px;
	}
	.forgot-navigation .white-menu .control-icon .ag-button {
		    font-size: 15px;
    	padding: 10px 10px 8px 65px;
	}
}


@media (max-height: 500px) {
	.full-panel {
		height: auto ;
	}
}
@media (max-height: 992px) {
	.full-panel {
		/*height: calc(100vh - 310px);*/
		min-height: 500px;
	}
}