.order-move-left {
	right: -40px !important;
}
/*.history-move-left {
	width: 65% !important;
}*/
.history-move-left {
	right: 0px !important;
}
.fixed-page-height {
	height: auto;
}

.full-panel .order-history {
	float: left;	
	width: 65%;
}

.full-panel .order-menu {
	float: right;
	/*width: 30%;*/
}

.full-panel .tbl-order {
	font-family: 'Lato-Regular' sans-serif;
	width: 100%;
}
.full-panel .tbl-order tr th {
	border: 1px solid #ccc;
	padding: 10px 5px;
	text-align: center;
	font-size: 20px;
}
.full-panel .tbl-order p {
	font-size: 15px;
}
.full-panel .tbl-order tr td {
	padding: 5px 10px;
	border: 1px solid #ccc;
}
.full-panel .tbl-order button {
	padding: 5px 10px;
}
.full-panel .tbl-order tr td:last-child {
	text-align: right;
}
.full-panel .tbl-order tr td:first-child {	
	text-align: right;
}
.full-panel .tbl-order tr td:nth-of-type(4) {
	text-align: right;
}

.order-menu {
	transition: right .5s;
}
.box-panel {
	position: relative;
	z-index: 1;
}
.nav-bottom li {
	border: 1px solid #ccc;	
	cursor: pointer;
	display: inline-block;
	padding: 5px 10px;
	float: left;
}
.nav-bottom li:hover {
	background-color: #2097c5;
}

.nav-bottom li:nth-of-type(1) {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.nav-bottom li:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.nav-bottom li:nth-of-type(3) {

}

.title-content-item {
	background-color: #13525f;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff;   
    font-family: 'Lato-Light', sans-serif;
    height: 53px;
    padding-left: 30px;       
    width: 100%;
}
.title-content-item p:first-child {
	font-size: 30px;
	padding-top: 5px;
}

.payment-address {
	width: 100%;
}
.payment-address > p {
	font-family: 'Lato-Regular' sans-serif;
	font-size: 20px;
	border: 1px solid #ccc;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 10px;
}
.payment-address div {
	border: 1px solid #ccc;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 10px;
}

.weird-table {
	width: 100%;
}
.weird-table table {
	
	width: 100%;
}
.weird-table tr th {
	font-size: 18px;
}
.weird-table tr th,
.weird-table tr td  {
	font-family: 'Lato-Light', sans-serif;
	font-weight: bold;
	border: 1px solid #ccc;
	padding: 10px;

}

.weird-table button {
	padding: 5px;
}

.history-content {
	float: left;
	width: 60%;
}
.history-menu {
	float: right;
	width: 35%;
}
.history-menu > div {
	width: 100%;
}

.tbl-order1 {
	width: 100%;
	border: 1px solid #ccc;
	border-collapse: separate;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.tbl-order1 tr th {
	font-size: 20px;
	text-align: center;
	padding: 5px;
	border-bottom: 1px solid #ccc;
}

.tbl-order1 tr td {
	padding: 5px;
}
.tbl-order1 tr td:first-child{
	border-right: 1px solid #ccc;
}

.box-panel .para-content {
	border-left: none;
	border-bottom: none;
	border-right: none;
}
.weird-table .ag-button {
	width: 30px;
	height: 30px;
}
.weird-table .ag-button i {
	font-size: 19px;
}
.weird-table tr td:nth-of-type(4) {
	text-align: right;
}
.weird-table tr td:nth-of-type(5) {
	text-align: right;
}
.weird-table tr td:last-child {
	text-align: center;
}

.weird-table .ag-button {
	margin: 2px;
}

@media (min-width: 993px) and (max-width: 1920px ) {
	
	.upper-content {
		width: 100vw;
	}

	.full-panel {
		width: 100%;
		padding: 0px !important;
		overflow: hidden;
		transition: width .5s;
		padding: 30px 80px 30px 30px;
	}
		
	.nav-right {
		height: 100%;		
	}


	.history-menu {
		border-image: linear-gradient(to bottom, white, #ccc, white) 1 100%;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		float: right;
		height: 100vh;
		margin: 0px !important;
		padding: 0vw 10px 7vw 10px;
		position: fixed;
		right: 0px;
		width: 20vw;
	}
	.history-menu .control-icon  {
		margin: 0 auto;
		width: 100%;


	}
	.history-menu .ag-button {
		border: none;
		transition: background-color .2s linear;
		width: 100%;
		/*padding: 4px 10px 10px 10px;*/
		padding: 4px 10px 6px 10px;
	}

	.history-menu button {

		transition: background-color: .5s linear;
		-webkit-transition: background-color: .5s linear;
		-moz-transition: background-color: .5s linear;
		-o-transition: background-color: .5s linear;
		-ms-transition: background-color: .5s linear;
	}
	.history-menu button:hover {
		background-color: #f7941d;
		color: #fff;
	}
	.white-menu .control-icon:nth-child(8) {
		border: none;
	}
	

	.history-content {
		width: 60%;
		padding: 30px;
		margin-left: 10vw;
	}

	.forgot-panel {
		padding: 20px 50px;
		margin-left: 16vw;
		width: 50%;
	}
}	

@media (max-width: 1200px) {
	.full-height {
	
	    height: auto;
	}

	.full-panel {
		width: 100%;
	}
}

@media (max-width: 992px) {


	.upper-content {
		width: 100vw;
	}

	.full-panel {
		position: relative;
		overflow: hidden;
	}

/*	.title-content-item p:first-child {
		font-size: 5vw;
		padding-left: 0px;
		padding-top: 0px;
	}
*/
	.full-panel {
		overflow: hidden;
		transition: width .5s;
		padding: 30px 80px 30px 10px;
	}
	.order-menu .nav-response {
		border-top: 2px solid #ccc;
		border-left: 2px solid #ccc;
		border-right: 2px solid #ccc;
		display: block;
		padding: 10px 5px 10px 10px;
	}

	.order-menu i {
		display: block;
	}
	.order-menu button {
		text-align: right;
	}

	.history-menu {
		position: absolute;
    	top: 0px;
    	right: -120px;
    	margin-top: 30px;
    	transition: right .5s;
	    background-color: white;
    	z-index: 2;
    	width: initial !important;
	}
	.history-content {
		width: 100% ;
		transition: width .5s;
		padding: 0px 15px;
	}

	.order-history-left {
		width: 65% !important;
	}
	.history-menu {
		float: right;
		width: auto;
	}

	.nav-response .fa {
		display: block;
		font-size: 20px;
	}
	.white-menu .control-icon .fa {
	    display: block;
    	padding: 10px;
    	font-size: 22px;
	}

	.white-menu .control-icon .ag-button {
	    font-size: 15px;
    	padding: 10px 10px 8px 65px;
    	text-align: center;
	}
	.history-panel {
		overflow-y: auto;
	}


	.history-panel .weird-table table {
		/*width: 400px;*/
	}
	.history-panel .weird-table thead th {
		font-size: 15px;
		padding: 5px;
	}
	.history-panel .weird-table tbody td {
		padding: 5px;
	}

	.order-history-pan {
		width: 100%;
	}
	.order-history-pan .title-content-item {
		padding-left: 10px;
		/*min-width: 263px;*/
	}
	.order-history-pan .title-content-item p {
		/*font-size: 5vw;*/
	}

	.order-history-pan .tbl-order th {
		font-size: 15px !important;
	}

	.full-panel .title-content-item {
		font-size: 20px;
		height: auto;
	}
}

@media (max-width: 500px) {
	.history-panel .weird-table {
		/*min-width: 140%;*/
		overflow-x: auto;
		border: 1px solid rgba(0,0,0,0.4);
	}
	.history-panel .weird-table i {
		display: block;
	}
	.full-panel {
		padding: 20px 60px 10px 20px !important;
	}
	.full-panel .history-content {
		padding: 0px;
		margin: 0px !important;
	}
	.title-content-item {
		font-size: 20px;
		height: auto;
	}
	.title-content-item p {
		font-size: 20px !important;
	}

	.order-tbl, .order-tbl thead, .order-tbl tbody, .order-tbl th, .order-tbl td, .order-tbl tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.order-tbl thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.order-tbl tr { border: 1px solid #ccc; }
	
	.order-tbl td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	.order-tbl td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

	.order-tbl td p {
		text-align: right;
	}
	
	/*end */
	.tbl-order, .tbl-order thead, .tbl-order tbody, .tbl-order th, .tbl-order td, .tbl-order tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.tbl-order thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.tbl-order tr { border: 1px solid #ccc; }
	
	.tbl-order td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		text-align: right;
		height: 35px;
	}
	
	.tbl-order td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

	.tbl-order td p {
		text-align: right;
	}
	.tbl-order td:nth-of-type(1):before { content: "Date Added"; }
	.tbl-order td:nth-of-type(2):before { content: "Order Status";
		text-align: right; }
	.tbl-order td:nth-of-type(3):before { content: "Comment"; }



	/*
	Label the data
	*/
	.order-tbl td:nth-of-type(1):before { content: "Date Added"; }
	.order-tbl td:nth-of-type(2):before { content: "Order Status";
		text-align: right; }
	.order-tbl td:nth-of-type(3):before { content: "Comment"; }
	.popup-other {
		width: 200px;
	}	
}

/*@media (max-width: 950px) {
	.order-menu {
		right: -290px;
	}
}

@media (max-width: 850px) {
	.order-menu {
		right: -235px;
		width: 250px !important;
	}
	.order-menu button {
		font-size: 15px !important;
	}
}*/

/*@media (max-width: 768px) {
	.order-menu {
		z-index: 1;
	}

	.order-menu .control-icon:last-child {
		border-bottom: ;
	}

	.order-menu .nav-response {
		height: 38px;
	}
	.order-menu .nav-response .fa  {
		font-size: 20px;
	}
	.order-menu .control-icon {
		height: 38px;
	}
	.order-menu .control-icon .fa {
		font-size: 25px;
		padding: 8px 10px 4px 10px;
	}
	.order-menu .control-icon .ag-button {
		font-size: 15px;
	}
	.order-menu .control-icon:nth-of-type(8) button {
		height: 36px;
	}
	.history-panel {
		height: auto;
	}
	.weird-table table td {
		padding: 5px;
	}
}

@media (max-width: 700px) {

	.weird-table .fa {
		display: block !important;
		padding: 1px;
	}

	.weird-table {
		width: 100%;
		overflow: auto;
		border-right: 1px solid #ccc;
		margin-top: 30px;
	}
	.weird-table table {
		width: 555px
	}
}

@media (max-width: 650px) {

	.history-panel {
		height: auto;
	}

	.tbl-order table, .tbl-order thead,
	.tbl-order tbody, .tbl-order th, 
	.tbl-order td, .tbl-order tr {
		display: block;		
	} 

	.tbl-order thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.tbl-order tr {
		border: 1px solid #ccc;
	}

	.tbl-order td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		text-align: right;
	}

	.tbl-order td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	.tbl-order td:nth-of-type(1):before {
		content: "Date Added";
	}
	.tbl-order td:nth-of-type(2):before {
		content: "Order Status";
	}
	.tbl-order td:nth-of-type(3):before {
		content: "Comment";
	}
}

@media (max-width: 550px) {
	.heading-panel {
		height: 180px;
	}
	.heading-panel h2:last-child {
		padding-left:30px;
	}
}

@media (max-width: 450px) {
	.full-panel {
		padding: 20px !important;
	}
		.weird-table tr td {
		padding: 5px;
	}
	.weird-table tr th {
		font-size: 15px;
		padding: 5px;
	}
	.weird-table .ag-button {
		margin: 5px;
	}
}

@media (max-width: 420px) {
	.heading-panel h2 {
		font-size: 15px;
	}

}
@media (max-width: 505px) {
	footer .footer-nav li:nth-of-type(1) {
		display: block;
	}
}

*/