
/*
@media (max-height: 768px)   {
	.full-panel {
		height: calc(100vh - 253px);
	}
}*/

.login-move-left {
	right: -15px !important;
}
.box-panel-move {
	width: 75% !important;
}

@media (min-width: 993px) and (max-width: 1920px ) {
	.full-panel {
		width: 100%;
		padding: 0px;
		min-height: 430px;
		
	}

	.nav-right {
		height: 100%;		
	}

	.cont-panel {
		margin: 0 auto;
		float: left;
		width: 79%;
	}
	.cont-panel .login-panel1 {
		width: 40%;
		margin-left: 9vw;
	} 
	.cont-panel .login-panel2 {
		width: 40%;
		float: left;
		/*margin-right: 2vw;*/
	}
	.nav-right {
		float: right;
		width: 20vw;
	}
	.login-nav {
		position: fixed;
		border-image: linear-gradient(to bottom, white, #ccc, white) 1 100%;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		float: right;
		height: 100%;
		margin-top: 0px !important;
		/*padding: 5vw 10px 7vw 10px;*/
		padding: 3vw 10px 7vw 10px;
		width: 20vw;
	}
	.login-nav .control-icon  {
		margin: 0 auto;
		width: 100%;
		height: calc(100% / 7);

	}
	.login-nav .ag-button {
		border: none;
		transition: background-color .2s linear;
		width: 100%;
		/*padding: 4px 10px 10px 10px;*/
		padding: 4px 10px 6px 10px;

	}

	.login-nav button {

		transition: background-color: .5s linear;
		-webkit-transition: background-color: .5s linear;
		-moz-transition: background-color: .5s linear;
		-o-transition: background-color: .5s linear;
		-ms-transition: background-color: .5s linear;
	}
	.login-nav button:hover {
		background-color: #f7941d;
		color: #fff;
	}
	.white-menu .control-icon:nth-child(8) {
		border: none;
	}
		.login-nav .control-icon {
		height: auto;
	}
}	

@media (max-width: 992px) {

	.full-panel {
		width: 100%;
		height: auto;
		position:relative;
		overflow: hidden;
		padding: 30px 80px 30px 30px;
	}
	.full-panel .login-panel1 {
		display: block;
		width: 100%;
		transition: width .5s;

	}
	.full-panel .login-panel2 {
		display: block;
		width: 100%;
		transition: width .5s;
	}

	/* navigation on right side */
	.nav-right {
		position: absolute;
		top: 0px;
		/*top: 130px;*/
		right: -180px;
		margin-top: 30px;
		transition: right .5s;
		background-color: white;
		z-index: 2;
	}
	.nav-right .nav-response {
		display: block;
		padding: 12px;
		border: 2px solid #d8d8d6
	}
	.nav-right .white-menu .nav-response .fa {
		display: block;
		font-size: 20px;
	}
	.nav-right .white-menu {
		width: initial;
		padding-left: 0px;
	}
	.nav-right .white-menu .control-icon .fa {
		display: block;
		padding: 10px;
		font-size: 22px;
	}
	.nav-right .white-menu .ag-button {
		font-size: 15px;
		padding: 10px 10px 8px 65px;

	}
	
}


@media (max-width: 500px) {
	.full-panel {
		padding: 10px 80px 10px 20px;
	}
	.full-panel .title-content {
		font-size: 20px;
		height: auto;		
	}
	.nav-right {
		margin-top: 0px;
		top: 30px;
	}

	.box-panel {
		padding: 0px;
	}
}

@media (max-width: 420px) {
	.full-panel {
		height: auto;
		padding: 10px 60px 10px 20px;
	}

}
