@media (max-width: 1200px) {
	/* login page */
	.full-panel {
		width: 100%;
	}
}

@media (max-width: 1075px) {
	/* footer *//*
	.footer-nav {
		width: 35%;
	}
	.copyright-text {
		width: 35%;
	}*/
}

/* login responsive */
@media (max-width: 992px) {

	header {
		width: 100vw;
	}

	/* navigation on right side */
	.white-menu button {
		text-align: right;
	}

	/* box panel for login */
	.box-panel .title-content {
		padding-left: 20px;
	}

	.white-panel {
		padding: 30px 0;
		height: calc(100vh - 210px);
		padding: 30px;
	}

	.white-menu .nav-response {		
		border-top: 2px solid #d8d8d6;
		border-left: 2px solid #d8d8d6;
		border-right: 2px solid #d8d8d6;
		cursor: pointer;
		display: block;
		height: 50px;	
		overflow: hidden;	
	}
	.white-menu .nav-response .fa {		
		font-size: 30px;
		padding: 8px 10px 10px 12px;
	}
	.white-menu {		
		margin: 0;
		padding: 0;
		position: absolute;
		right:  -290px;			
		transition: right .5s;
		overflow: hidden;
		z-index: 0;
	}
		.regs-nav {
			right: -280px;
		}

	.white-menu i {
		display: block;
	}
	.full-panel {
		overflow: hidden;
		position: relative;
	}
	.full-panel .open-menu {
		width: 60%;
	}	

	/* registration page 	*/
	.full-panel .regs-panel {
		width: 90%;
	}
	.full-panel .regs-panel1,
	.full-panel .regs-panel2 {		
		transition: width .5s;
		width: 100%;
	}
	.full-panel .forgot-panel {
		transition: width .5s;
		width: 100%;
	}

	/* forgot password page */
	.full-panel .forgot-panel {		
		transition: width .5s;
		width: 90%;
	}

	/* wishlist page */
	.full-panel .wishlist {
		transition: width .5s;
		width: 90%;
	}

	.big-forgot-panel {
		/*height: 100vh;*/
	}

	.agreement {
		width: 100%;
	}

	/*move-left*/
	.login-move-left {
		right: -30px !important;
	}
	.forgot-nav {
		right: -270px;
	}

}
@media (max-width: 950px) {

	/*login navigation*/
	.login-nav {
		right: -28vw;
	}

	/*registration navigation*/
	.regs-nav {
		right: -27vw;
	}

	.wish-nav {
		right: -28vw;
	}
	/*forgot */
	.forgot-nav {
		right: -255px;
	}
}
@media (max-width: 925px) {

	/* general declaration HEIGHT */
	.full-height {
		height: calc(100vh - (160px + 90px));
	}

	.box-panel .title-content {
		font-size: 20px;
		padding-top: 10px;
	}
}
@media (max-width: 900px) {
	.forgot-nav {
		right: -240px;
	}
}
@media (max-width: 850px) {
	.white-menu .ag-button {
		font-size: 15px;
	}
	.forgot-nav {
		right: -225px;
	}
}

@media (max-width: 768px) {

	/* general declaration */	
	/*HEIGHT*/
	.full-height {
		/*height: 100vw;*/
		height: auto;		
	}	
	.compact-menu {
		width: 60% !important;
	}
	.move-left {
		right: -66px !important;
	}
	.login-move-left {
		right: -30px !important;
	}
	.wish-move-left {
		right: -30px !important;
	}

	.full-panel {
		height: auto;
	}
	/* new customer and returning customer panel */
	.full-panel .box-panel:nth-of-type(1),
	.full-panel .box-panel:nth-of-type(2) {
		width: 95%;
	}

	/* navigation on right side */
	.nav-right {
/*		display: inline-block;
		vertical-align: top;*/
	}
/*	.white-menu {		
		right: -285px;
		top: 0px;
		width: 270px;
	}*/
	.forgot-nav {
		right: -200px;
	}
	.white-menu .nav-response {
		height: 38px;
	}
	.white-menu .nav-response .fa  {
		font-size: 20px;
	}
	.white-menu .control-icon {
		height: 38px;
	}
	.white-menu .control-icon .fa {
		font-size: 25px;
		padding: 8px 10px 10px 10px;
	}
	.white-menu .control-icon .ag-button {
		font-size: 15px;
	}
	.white-menu .control-icon:nth-of-type(8) button {
		height: 36px;
	}
	 

	.login-nav {
		right: -28vw;		
		z-index: 2;
	}

	/*wishlist page */
	.wish-nav {
		right: -27vw;
		top: 0px;
	}

	.wishlist-full-panel {
		padding: 30px;
		height: calc(100vh - 300px);
		/*height: auto;*/
	}

	.big-forgot-panel {
		height: calc(100vh - 320px);
	}

	/* footer */
	footer {
		padding: 20px 10px 10px 10px;
	}

	footer .fas-logo p {
		margin-right: 10px !important;
		margin-top: 10px;
	}
	footer .footer-nav a {
		margin-right: 10px;
	}

}
@media (max-width: 767px) {

	.move-left {
		right: -20px !important;
	}

	.wish-move-left {
		right: -8vw !important;
	}

	.white-menu {		
		right: -250px;
		top: 0px;
		width: 270px;
	}

	.regs-nav {
		right: -234px;
		top:  -1120px;
		width: 270px;
	}

	.forgot-nav {
		right: -220px;
		top:  200px;
		width: 270px;
	}
	.wish-nav {
		right: -37vw;
		top: 9px;
	}


	.cont-panel {
		float: left;
	}
	.cont-panel .box-panel {
		float: none;
	}
	.full-panel {
		padding: 10px 20px 30px 10px;
		height: auto;
	}
	.full-panel .position-rel {
		float: left;
	}
	.wishlist-full-panel {
		padding: 30px 10px;
		height: calc(100vh - 334px);
		/*height: auto;*/
	}
	.wishlist-full-panel .tbl-wish tr td {
		padding: 5px;
	}
	.wishlist-full-panel .tbl-wish p {
		float: none !important;
		text-align: center;
	}
	.wishlist-full-panel .tbl-wish tr td:last-child div {
		float: none !important;
		text-align: center;
	}

	.big-forgot-panel {
		padding: 30px;
		height: calc(100vh - 320px);
	}
	.big-forgot-panel .box-panel .para-content {
		padding: 5px;
	}
	.big-forgot-panel .box-panel .para-content div {
		margin-top: 10px !important;
	}
	.big-forgot-panel .box-panel > p {
		font-size: 18px !important;
	}
	.big-forgot-panel .box-panel table td {
		width: 0px !important;
	}

}
@media (max-width: 700px) {
	.wish-nav {
		right: -38vw;
		top: 9px;
	}
}
@media (max-width: 650px) {
	.wish-nav {
		right: -40vw;
	}
}
@media (max-width: 620px) {
	.wish-nav {
		right: -42vw;
	}
}

@media (max-width: 600px) {
	.regs-panel1 .para-content,
	.regs-panel2 .para-content,
	.regs-panel3 .para-content {
		padding: 10px 5px 10px 5px;
	}
	.regs-panel4 .para-content {
		padding: 10px !important;
	}
	.regs-panel4 .para-content p {
		margin-left: 10px !important;
	}
	.regs-panel1 table tr td p,
	.regs-panel2 table tr td p,
	.regs-panel3 table tr td p  {
		float: none !important;
		margin: 0 !important;
	}
	.regs-panel1 table tr:first-child td:first-child,
	.regs-panel2 table tr:first-child td:first-child,
	.regs-panel3 table tr:first-child td:first-child {
		width: 100px !important;
	}
	.agreement button {
		margin-left: 0px !important;
		margin-top: 10px;

	}

	.wish-nav {
		right: -43vw;
		top: 9px;
	}

	/* resopnsive table to list */
	.wishlist-full-panel .tbl-wish table, 
	.wishlist-full-panel .tbl-wish thead, 
	.wishlist-full-panel .tbl-wish tbody,
	.wishlist-full-panel .tbl-wish th,
	.wishlist-full-panel .tbl-wish td,
	.wishlist-full-panel .tbl-wish tr {
		display: block;
	}
	.wishlist-full-panel thead tr {
		position: absolute;
		top: -9999px;
		left: -99999px;
	}
	.wishlist-full-panel tr {
		border: 1px solid #ccc;
	}
	.wishlist-full-panel td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}
	.wishlist-full-panel td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
	.wishlist-full-panel td:nth-of-type(1):before {
		content: "Product Name";
	}
	.wishlist-full-panel td:nth-of-type(2):before {
		content: "Product Code";
	}
	.wishlist-full-panel td:nth-of-type(3):before {
		content: "Stock";
	}
	.wishlist-full-panel td:nth-of-type(4):before {
		content: "Unit Price";
	}
	.wishlist-full-panel td:nth-of-type(5):before {
		content: "Action";
	}
	


	.tbl-wish thead th {
		padding: 5px !important;
		text-align: center;
	}
	.tbl-wish thead th p {
		float: none !important;
		text-align: right !important;
	}
	.tbl-wish tbody td {
		padding: 5px !important;		
	}
	.tbl-wish tbody td p {
		float: none !important;
		text-align: right !important;
	}

	.para-content .tbl-wish tr:last-child td:first-child {
    	border-bottom-left-radius: 0px;
	}

	
	.wishlist-full-panel .tbl-wish tr td:last-child div {
		text-align: right;
	}
	.wishlist-full-panel {
		height: auto !important; 
	}
}

@media (max-width: 563px) {
	.wish-nav {
		right: -45vw;
	}
}
@media (max-width: 520px) {
	.wish-nav {
		right: -47vw;
	}
}
@media (max-width: 505px) {
	footer .footer-nav li:nth-of-type(1) {
		display: block;
	}
}
@media (max-width: 500px) {
	.wish-nav {
		right: calc(300px - 40vw);
	}

}
@media (max-width: 500px) {
	.wish-nav {
		right: -50vw;
	}
}
@media (max-width: 450px) {
	.wish-nav {
		right: -52vw;
	}
}
@media (max-width: 430px) {
	.wish-nav {
		right: -250px;
	}
}
@media (max-width: 420px) {
	.footer-nav li:nth-of-type(1) {
		display: block;
	}
}
@media (max-width: 410px) {
	.wish-nav {
		right: -57vw;
	}
}
@media (max-width: 390px) {
	.wish-nav {
		right: -60vw;
	}
}
@media (max-width: 360px) {
	.wish-nav {
		right: -66vw;
	}
}
@media (max-width: 340px) {
	.wish-nav {
		right: -68vw;
	}
}
@media (max-width: 320px) {
	.wish-nav {
		right: -70vw;
	}
}

@media (max-width: 420px) {
	.full-panel {
		height: auto;
	}
}