.form-move-left {
	right: -15px !important;
} 
textarea {
	width: 25vw;
	padding: 5px;
	resize: none;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
}

.move-top {
	vertical-align: top;
}
.para-content table tr td input {
	margin-top: 10px;
}
.popup-other {
	display: none;
}

@media (min-width: 993px) and (max-width: 1950px) {

	.return-form-panel {
		width: 100%;
		padding: 0px;
		height: auto;
	}

	.returnform {
		padding: 20px 50px;
		margin-left: 10vw;
		width: 60%;
	}


}
@media (max-width: 992px) {
	.return-form-panel {
		width: 100%;
    	height: auto;
    	position: relative;
    	overflow: hidden;
    	padding: 30px 80px 30px 30px;
	}
	.returnform {
		position: relative;
    	display: block;
    	width: 100%;
	}

	.form-navigation {
		position: absolute;
	    top: 0px;
	    right: -200px;
	    margin-top: 30px;
	    transition: right .5s;
	    background-color: white;
	    z-index: 2;
	}

	.white-menu {
	    width: initial;
    	padding-left: 0px;
	}

	.box-panel .para-content table tr td p {
		float: left !important;
	}
	.nav-right .nav-response {
		display: block;
		padding: 12px;
		border: 2px solid #d8d8d6;
	}
	.nav-right .nav-response i {
		display: block;
		font-size: 20px;
	}
	.nav-right .control-icon .fa {
		display: block;
    	padding: 10px;
    	font-size: 22px;
	}
	.nav-right .control-icon .ag-button {
		font-size: 15px;
    	padding: 10px 40px 8px 100px;
    	text-align: center;
	}
	.white-menu .control-icon:nth-child(8) {
		border-bottom: none;
	}
	.white-menu .control-icon:last-child {
		border-bottom: 2px solid #d8d8d6;
	}

	.box-panel .para-content table tr td p {
		margin: 0px !important;
	}
	.box-panel .para-content table tr td:first-child {
		width: initial !important;
	}
	.full-panel .para-content {
		padding: 10px !important;
	}

	.full-panel .title-content {
		font-size: 20px;
		height: auto;
	}

	.box-panel .prod-info {

	}
}

@media (max-width: 500px) {
	.full-panel {
		padding: 20px 60px 10px 20px;;
	}
	.full-panel .returnform {
		padding: 0px;
	}
}

@media (max-width: 450px) {

	.full-panel {
		/*padding: 10px !important;*/
	}
	.box-panel .para-content table tr td:first-child,
	.box-panel .para-content table tr td:last-child {
		display: block;
	}

	.box-panel .para-content .move-down {
		margin-top: 30px;
	}
	.box-panel .para-content .product-open-radio {
		margin-top: 30px;
	}
	.box-panel .para-content .move-down-text {
		margin-top: 30px;
	}
	.box-panel .para-content .move-down-text textarea {
		width: 200px;
	}
	.popup-other {
		width: 200px;
	}
}
