/*.rslides_container {
    position: relative;
    min-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    margin-bottom: 1%;
}*/

.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

/*.rslides img {
    display: block;
    height: auto;
    float: left;
    border: 0;
    vertical-align: middle;
}*/

/* next / prev button */
.centered-btns_nav {
    z-index: 3;
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 50%;
    left: 0;
    opacity: 0.7;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("../images/slider/arrows.png") no-repeat left top;
    margin-top: -45px; /* -45 / adjust to pag inadjust ung position ng pagination */
}

.centered-btns_nav:active {
    opacity: 1.0;
}

.centered-btns_nav.next {
    left: auto;
    background-position: right top;
    right: -100px;
}

.centered-btns_nav.prev {
    left: -100px;
}

@media (max-width: 1050px){
    .centered-btns_nav.next {
        right: 0px;
    }

    .centered-btns_nav.prev {
        left: 0px;
    }
}

/* slider pagination */
.centered-btns_nav:focus {
    outline: none;
}

.centered-btns_tabs{
    margin-top: 50px; /*10 / location ng mga*/
    text-align: center;
}

@media (max-width: 768px){
    .centered-btns_tabs{
        margin-top: 0;
    }
}

.centered-btns_tabs li{
    position: relative;
    z-index: 4;
    display: inline;
    float: none;
    _float: left;
    *float: left;
    margin-right: 5px; /* pagination spacing / spacing nung mga bilog */
}

.centered-btns_tabs a{
    text-indent: -9999px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #ccc;
    background: rgba(230, 230, 230, 1); /* background color ng pagination */
    display: inline-block;
    _display: block;
    *display: block;
    -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    width: 15px;
    height: 15px;

    border: 2px solid #13525f;
}

.centered-btns_here a{
    background: #13525f; /* pagination color / color nung bilog */
}


