html {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

/* FONTS====================================================== */

@font-face {
  font-family: 'Lobster1-4';
  src: url('../fonts/Lobster1-4.eot?#iefix') format('embedded-opentype'),
  	url('../fonts/Lobster1-4.otf')  format('opentype'),
	url('../fonts/Lobster1-4.woff') format('woff'),
	url('../fonts/Lobster1-4.ttf')  format('truetype'),
	url('../fonts/Lobster1-4.svg#Lobster1.4') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lora-Bold';
  src: url('../fonts/Lora-Bold.eot?#iefix') format('embedded-opentype'), 
  url('../fonts/Lora-Bold.woff') format('woff'),
  url('../fonts/Lora-Bold.ttf')  format('truetype'),
  url('../fonts/Lora-Bold.svg#Lora-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Light';
  src: 
  url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Lato-Light.woff') format('woff'), 
  url('../fonts/Lato-Light.ttf')  format('truetype'), 
  url('../fonts/Lato-Light.svg#Lato-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: 
  url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Lato-Regular.woff') format('woff'), 
  url('../fonts/Lato-Regular.ttf')  format('truetype'),
  url('../fonts/Lato-Regular.svg#Lato-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*=========================================*/

*{
	padding: 0;
	margin: 0;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

/*	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;*/
}

body{
	font-family: 'Lato-Regular';
}

ul{
	list-style-type: none;
}

.heading-text{
	font-size: 40px;
	text-transform: uppercase;
	font-weight: normal;

}

.panel-text{
	font-size: 20px;
}

@media (max-width: 768px){
	.heading-text{
		font-size: 25px;
	}

	.panel-text{
		font-size: 14px;
		padding: 0 20px;
	}
}

.lobster-font{
	font-family: 'Lobster1-4';
}

.lora-bold{
	font-family: 'Lora-Bold';
}

/* Header */
/*=========================================*/

header{
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: #13525f;
	padding: 0 20px;
	z-index: 900;

	display: flex;
	align-items: center;
}

/* logo */
.logo{
	float: left;
	width: 20%;
}

.logo img{
	max-width: 220px;
}

/* main-nav */
.main-nav{
	float: left;
	width: 55%;
	text-align: center;
}

.main-nav li{
	display: inline-block;
}

.main-nav a{
	display: inline-block;
	width: 100%;
	color: #fff;
	text-transform: uppercase;
	margin-right: 50px;

	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
}

.main-nav a:hover,
a.active{
	color: #ff9600;
	text-decoration: underline;
}
/*
.main-nav .fa{
	display: none;
}*/

/* header-crumbs */
.header-crumbs{
	text-align: right;
	width: 25%;
	float: right;
}

.header-crumbs li{
	display: inline-block;
}

.header-crumbs ul{
	margin-bottom: 10px;
}

.header-crumbs a{
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
}

.header-crumbs a:hover{
	color: #ff9600;
	text-decoration: underline;
}

.register{
	border-right: 1px solid #fff;
	padding-right: 10px;
	margin-right: 10px;
}

.checkout-container{
	position: relative;
}

.checkout-container label{
	font-size: 10px;
	background-color: #fff;
	padding: 5px 10px;
	border-radius: 5px 0 0 5px;
	border: none;
	margin-right: -4px;
	vertical-align: middle;
	margin-top: 4px;
	text-transform: uppercase;
}

.checkout-container button{
	background-color: #f26522;
	border: none;
	padding: 5px;
	border-radius: 0 5px 5px 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 10px !important;
}

.checkout-container .fa{
	vertical-align: middle;
	color: #fff;
	font-size: 25px;
	margin-right: 10px;
}

.notif{
	display: none;
}

.cart-icon{
	position: relative;
}

.res-login{
	display: none;
}

@media (max-width:1050px){
	.logo{
		width: auto;
	}

	.checkout-container label{
		display: none;
	}

	.checkout-container button{
		border-radius: 5px;
	}

	.main-nav{
		width: 60%;
	}

	.main-nav a{
		margin-right: 20px;
	}

	.header-crumbs{
		width: 20%;
	}

	.notif{
		display: inline-block;
		position: absolute;
		text-align: center;
		font-size: 10px;
		/*padding: 1px;*/
		color: #fff;
		background-color: #4183D7;
		left: 12px;
		width: 15px;
		height: 15px;
		border-radius: 100%;
	}
}

@media (max-width: 810px){
	.logo{
		width: 50%; 
	}

	.logo img{
		max-width: 220px;
	}

	.header-crumbs{
		width: 50%;
		/*background-color: red;*/
		/*float: right;*/
		/*padding-right: 5px;*/
		padding-right: 50px;
		
	}

	.header-crumbs ul{
		display: none;
	}

	.main-nav {
		/*width: 20%;*/
		width: 14%;
		/*height: 100px;*/
		height: 83px;
		position: absolute;
		right: 0;
		top: 0;
		text-align: right !important;
		margin-top: 17px;
	}

	.main-nav li{
		display: block;
	}

	.main-nav a{
		width: auto;
		margin-right: 0;
	}

	.nav-icon{
		position: relative;
		right: 20px;
		margin-top: 2px;
		padding: 10px 10px 10px 10px;
	}

	/*.main-nav .fa{
		display: block;
		width: auto;
		padding: 10px;
		color: #fff;
		font-size: 25px;
		text-align: center;
	}*/

	.nav-icon:hover{
		background-color: #0e3b44;
	}

	.nav-icon > .bar{
		width: 25px;
		border-top: 2px solid #fff;

		transition: 0.3s;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
	}

	.nav-icon > div:nth-child(2),
	.nav-icon > div:nth-child(3){
		margin-top: 7px;
	}

	.transform-top{
		margin-top: 10px;
		transform: rotate(45deg);
	}

	.transform-bot{
		position: relative;
		transform: rotate(-45deg);
		top: -18px;
	}

	.hide-mid{
		opacity: 0;
	}

	.nav-padding-bot{
		padding-bottom: 0;
	}

/*	a.nav-icon > div:first-child{
		margin-top: 10px;
		transform: rotate(45deg);
	}
*/
/*	a.nav-icon > div:nth-child(3){
		transform: rotate(-45deg);
		margin-top: -11px;
	}*/
/*
	a.nav-icon > div:nth-child(2){
		opacity: 0;
	}*/
	/*=====*/

	.main-nav a:hover{
		text-decoration: none !important;
	}

	ul.child-nav{
		display: block;
		height: 100vh;
		right: -150px;
		top: 83px;
		width: 150px;
		text-align: right;
		position: absolute;
		background-color: #13525f;

		transition: 0.3s;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
	}

	ul.child-nav a{
		display: block;
		padding-right: 20px;
		margin-bottom: 20px;
		font-size: 12px;
	}

	ul.child-nav li:nth-child(2) a{
		margin-top: 20px;
		/*background-color: red;*/
	}

	.nav-show{
		right: 0 !important;
	}

	.active-nav{
		background-color: #0e3b44;
	}

	.main-nav{
		padding-top: 10px;
	}

	.res-login{
		padding: 20px 0;
		display: block;
		/*background-color: #0e3b44;*/
		border-bottom: 1px solid #cecece;
		/*margin-bottom: 50px;*/
	}

	.res-login li:last-child a{
		margin-bottom: 0;
	}
}

@media (max-width: 480px){
	.header-crumbs{
		/*background: red;*/
		padding-right: 50px;

		/*margin-right: 50px;*/
	}

	.logo img{
		max-width: 160px;
	}

	.fa-shopping-cart{
		display: none;
	}

	.notif{
		left: 58px;
		top: -8px;
	}
}

/* First Panel */
/*=========================================*/

.first-panel{
	position: relative;
	height: 100vh;

	background: url(../images/index/first-panel-bg.jpg) center center ;
	background-size: cover; 
	-webkit-background-size: cover; 
	-moz-background-size: cover;
}

.first-panel-center{
	font-size: 0;
	height: 100vh;
	padding-left: 10%;
}

.first-panel-content{
	max-width: 400px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.first-panel-center:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
}

.first-panel-content h1{
	font-size: 50px;
	padding-bottom: 20px;
	border-bottom: 5px solid #acacac;
}

.one-hundred{
	font-size: 150px;
}

.seventy{
	font-size: 70px;
}

.fifty{
	font-size: 50px;
}

.first-panel-content p{
	text-transform: uppercase;
	font-size: 20px;
}

@media (max-width: 1050px){
	.first-panel{
		background: url(../images/index/first-panel-bg-res.jpg) center center ;
		background-size: cover; 
		-webkit-background-size: cover; 
		-moz-background-size: cover;
	}

	.first-panel-center{
		width: 100%;
		text-align: center;
		padding: 0;
	}
}

@media (max-width: 768px){
	.first-panel{
		background-position: left;
		height: auto;
	}

	.first-panel-center{
		width: 100%;
		text-align: center;
		padding: 0;
		height: auto;
		padding: 180px 0 100px 0;
	}

	.first-panel-content h1{
		margin-right: 20px;
		margin-left: 20px;
		line-height: 40px;
		border-bottom: 2px solid #acacac;
	}

	.first-panel-content p{
		padding: 0  20px;
	}

	.one-hundred{
		font-size: 100px;
	}

	.seventy{
		font-size: 45px;
		margin-top: 10px;
		margin-bottom: -40px;
	    position: relative;
	    display: inherit;
	}

	.fifty{
		font-size: 35px;
	}

	.first-panel-content p{
		font-size: 16px;
	}
}

/* Second Panel */
/*=========================================*/

.second-panel{
	position: relative;
	height: 500px;

	background: url(../images/index/second-panel-bg.jpg) center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}

.second-panel-center{
	height: 500px;
	float: right;
	padding-right: 10%;
	font-size: 0;
}

.second-panel-content{
	position: relative;
	max-width: 600px;
	font-size: 16px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
}

.second-panel-center:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
}

@media(max-width: 1050px){
	.second-panel{
		height: auto;

		background: url(../images/index/second-panel-bg-res.jpg) center center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
	}

	.second-panel-center{
		height: auto;
		padding: 100px 0;
	}

	.second-panel-center{
		padding-right: 0;
		text-align: center;
		float: none;
	}
}

/* Third Panel */
/*=========================================*/

.third-panel{
	position: relative;
	text-align: center;
	padding: 100px 0;

	background: url(../images/index/third-panel-bg.jpg) center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;

	background-color: green;
}

.third-panel-center{
	font-size: 0;
}

.third-panel-content{
	position: relative;
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
}

.third-panel-center:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
}

.product-col-container{
	width: 100%;
}

.product-col-container div:nth-child(5){
	border-right: 0;
}

.product-col{
	position: relative;
	height: 500px;
	width: 20%;
	float: left;
	border-right: 2px solid #fff;
}

.product-col img{
	width: 80%;
}

.product-col p{
	text-align: justify;
	padding: 0 20px;
}

.product-button{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.product-button a{
	background-color: #f7941d;
	color: #fff;
	text-transform: uppercase;
	padding: 15px 10px;
}

.product-button a:hover{
	text-decoration: none;
	background-color: #f26522;
}

/*@media (max-width: 1050px){
	.product-col{
		height: 600px;
	}
}

@media (max-width: 870px){
	.product-col{
		height: 650px;
	}
}
*/
@media (max-width: 1024px){
	.product-col{
		height: auto;
		float: none;
		border: none;
		width: 80%;
		margin: 0 auto;
		margin-bottom: 20px;
		padding-bottom: 120px;
		border-bottom: 3px solid #fff
	}

	.product-col-container div:nth-child(5){
		border: none;
	}

	.product-col img{
		width: 250px;
	}

	.product-col p{
		font-size: 14px;
	}

	.product-button{
		bottom: 50px;
		/*top: 100px;*/
	}

	.product-button a{
		font-size: 12px;
		padding: 10px;
	}
}

/* Fourth Panel */
/*=========================================*/

.fourth-panel{
	position: relative;
	padding: 100px 0;
	text-align: center;
}

.fourth-panel-center{
	font-size: 0;
}

.fourth-panel-content{
	display: inline-block;
	vertical-align: middle;
}

.fourth-panel-center:after{
	content: "";
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%;
}

.testimonial-container{
	position: relative;
}

.testi-item{
	max-width: 900px;
	font-size: 16px;
	margin-bottom: 200px;
}

.testi-image{
	float: left;
	width: 18%;
	margin-right: 2%;
}

.testi-image img{
	width: 100%;
	border-radius: 50%;
	border: 5px solid #ccc;
}

.testi-content{
	width: 80%;
	text-align: left;
	float: right;
}

.testi-content h3{
	font-size: 20px;
}

@media (max-width: 1050px){
	.testi-item{
		padding: 0 20px;
	}

	.testi-content h3{
		padding-left: 20px;
	}

	.testi-content p{
		padding-left: 20px;
	}
}

@media (max-width: 768px){
	.testi-image{
		float: none;
		display: block;
		width: 100%;
	}

	.testi-image img{
		max-width: 100px;
	}

	.testi-item{
		margin-bottom: 50px;
	}

	.testi-content{
		width: 100%;
		float: none;
		text-align: center;
	}

	.testi-content p,
	.testi-content h3{
		padding: 0;
	}
}


/* Contact Panel */
/*=========================================*/

.contact-panel{
	position: relative;
	height: 800px;
	/*background-color: red;*/
}

#map{
	height: 800px;
}

.contact-centered{
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}

.contact-form{
	position: absolute;
	z-index: 500;
	top: 0;
	left: 0;
	/*height: 400px;*/
	padding: 50px 20px;
	width: 100%;
	background-color: rgba(19, 82, 95, 0.8);
}

.contact-info{
	float: left;
	width: 20%;
	text-align: left;
}

.contact-info .fa{
	display: inline-block;
	font-size: 20px;
	/*vertical-align: middle;*/
	/*margin-right: 10px;*/
	/*background-color: red;*/
	float: left;
	width: 10%;
}

.contact-info li{
	display: block;
	margin-bottom: 20px;
}

.contact-info p{
	float: right;
	display: inline-block;
	width: 90%;
}

.contact-info .fa-mobile{
	font-size: 30px;
	margin-top: -5px;
}

.contact-form form{
	float: right;
	width: 70%;
	/*background: black;*/
}

.contact-form form input{
	padding: 10px;
	border-radius: 3px;
	border: 0;
	border: 1px solid #ccc;
	font-size: 12px;
	outline: 0;
	color: #333;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.form-name{
	width: 56%; /*60*/
}

.form-email,
.form-contact{
	width: 20%;
}

.form-email{
	margin: 0 1.5%;
}

.contact-form form textarea{
	display: block;
	width: 100%;
	min-height: 100px;
	margin-top: 20px;
	outline: 0;
	border-radius: 3px;
	padding: 10px;
	font-size: 12px;
	color: #333;
}

.send-button{
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	padding: 10px 15px;
	border: 0;
	background-color: #f7941d;
	float: right;
	margin-top:  20px;
	width: 115px;
}


.send-button:hover{
	background-color: #f26522;
}

.g-recaptcha{
	margin-top: 20px;
}

@media (max-width: 1060px){
	.contact-form form{
		width: 75%;
	}
	
	.form-email{
		margin: 0 1.2%;
	}
}

@media (max-width: 768px){
	.contact-panel,
	#map{
		height: 900px;
	}

	.contact-info{
		float: none;
		width: 100%;
		/*background-color: red;*/

		display: flex;
		display: -webkit-flex;
		/*align-items: center;*/
		justify-content: center;
	}

	.contact-info li{
		/*background-color: green;*/
		display: inline-block;
		width: 32%;
		padding: 5px;
		text-align: center;
	}

	.contact-info li:nth-child(2){
		/*background-color: pink;*/
		margin: 0 2%;
	}

	.contact-info .fa{
		float: none;
		display: block;
		/*background-color: red;*/
		margin-bottom: 10px;
		width: 100%;
	}

	.contact-form form{
		width: 100%;
	}

	.send-button{
		font-size: 16px;
		padding: 10px 20px;
	}
}

@media (max-width: 600px){
	.form-email,
	.form-name,
	.form-contact{
		width: 100%;
		margin: 0 0 20px 0;
	}

	.form-contact{
		margin: 0;
	}
}

/* Footer */
/*=========================================*/

footer{
	position: relative;
	background-color: #13525f;
	width: 100%;
	padding: 20px 20px 10px 20px;
	font-size: 14px;
	color: #fff;
	top: 0px;
}

.foot1 {
	float: left;
	width: 70%;
}
.foot2 {
	float: right;
	text-align: right;
	width: 20%;
}

.footer-nav{
	/*width: 30%;
	float: left;*/
}

.footer-nav li{
	display: inline-block;
}

.footer-nav a{
	font-size: 12px;
	text-transform: uppercase;
	color: #fff;
	margin-right: 15px;
}

.footer-nav a:hover,
.footer-nav a:active{
	color: #ff9600;
	text-decoration: underline;
}

.footer-nav li:last-child a{
	margin-right: 0;
}

.copyright-text{
	/*text-align: center;
	width: 40%;
	float: le1ft;*/
}

.back-to-top{
	position: relative;
	height: 10px;

}
.back-to-top > a {
	position: absolute;
	top: -20px;
	right: 0px;
	font-weight: bold;
	font-size: 13px !important;
	color: #13525f !important;
	background-color: #f8f8f8;
	padding: 5px;
}

a.back-to-top-button{
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
}


a.back-to-top-button:hover{
	color: #ff9600;
}

a.back-to-top-button-res{
	display: none;
	color: #fff;
	padding: 5px  10px;
	/*background: red;*/
	background-color: #ff9600;
}

a.back-to-top-button-res:hover,
a.back-to-top-button-res:active{
	text-decoration: none;
	background-color: #ff9600;
}
.fas-logo > p {
	margin-right:30px ;
}

@media (max-width: 768px){
	.foot1 {
		float: none;
		width: 100%;
	}
	.foot2 {
		float: none;
		text-align: center;
		width: 100%;
	}
	.footer-nav{
		float: none;
		width: 100%;
		text-align: center;
		/*text-align: left;*/
	}

	.copyright-text{
		font-size: 12px;
		float: none;
		width: 100%;
		text-align: center;
		/*text-align: left;*/
	}

	.back-to-top{
		/*display: none;*/
		position: absolute;
		/*top: 30px;*/
		/*bottom: 1px;*/
		right: 0;
		top: -13px;
	}

	.back-to-top-button{
		display: none;
	}
	.footer-nav {
		margin-top: 0px;
	}
	a.back-to-top-button-res{
		display: inline-block;
		float: right;
		margin: 5px;
	}
	.fas-logo > p {
		margin-right: 0px !important; 
		text-align: center;
	}
}

/*=====================================*/

.ag-button{
	outline: 0;
	border: 0;
	display: inline-block;
	background-color: #f7941d;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	padding: 15px 10px;
	
	width: 115px;
}

.ag-button:hover,
.ag-button:active{
	outline: 0;
	color: #fff;
	text-decoration: none !important;
	background-color: #f26522;
}

@media (max-width: 768px){
	.ag-button{
		font-size: 12px;
		padding: 5px  10px;
	}
}