.transaction-move-left {
	right: 0px !important;
}
.full-height { 
	height: auto;
	min-height: calc(100vh - 252px);
}

.full-panel .order-history {
	float: left;	
	width: 65%;
}

.full-panel .order-menu {
	float: right;
	
}
.full-panel .tbl-order {
	font-family: 'Lato-Regular' sans-serif;
}
.full-panel .tbl-order tr th {
	padding: 10px 5px;
	text-align: center;
}
.full-panel .tbl-order tr td {
	padding: 5px 10px;
}
.full-panel .tbl-order button {
	padding: 5px 10px;
}
.full-panel .tbl-order tr td:last-child {
	text-align: right;
}
.full-panel .tbl-order tr td:first-child {	
	text-align: right;
}
.full-panel .tbl-order tr td:nth-of-type(4) {
	text-align: right;
}
.order-menu {
	transition: right .5s;
}
.box-panel {
	position: relative;
	z-index: 1;
}
.nav-bottom li {
	border: 1px solid #ccc;	
	cursor: pointer;
	display: inline-block;
	padding: 5px 10px;
	float: left;
}
.nav-bottom li:hover {
	background-color: #2097c5;
}

.nav-bottom li:nth-of-type(1) {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.nav-bottom li:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.nav-bottom li:nth-of-type(3) {

}

.title-content-item {
	background-color: #13525f;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff;   
    font-family: 'Lato-Light', sans-serif;
    height: 73px;
    padding-left: 30px;       
    width: 100%;
}
.title-content-item p:first-child {
	font-size: 30px;
	padding-top: 5px;
}

.order-history .para-content {
	border: 0px;
}

@media (min-width: 993px) and (max-width: 1920px ) {
	.full-panel {
		width: 100%;
		padding: 0px;
	}

	.nav-right {
		height: 100%;		
	}

	.cont-panel {
		margin: 0 auto;
		float: left;
		width: 79%;
	}
	.cont-panel .login-panel1 {
		width: 40%;
		margin-left: 9vw;
	}
	.cont-panel .login-panel2 {
		width: 40%;
		float: left;
		/*margin-right: 2vw;*/
	}
	.nav-right {
		float: right;
	}
	.transact-nav {
		position: fixed;
		border-image: linear-gradient( to bottom, white, #ccc, white) 1 100%;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		float: right;
		height: 100%;
		margin-top: 0px !important;
		/*padding: 5vw 10px 7vw 10px;*/
		padding: 3vw 10px 7vw 10px;
		width: 20vw;
	}
	.transact-nav .control-icon  {
		margin: 0 auto;
		width: 100%;

	}
	.transact-nav .ag-button {
		border: none;
		transition: background-color .2s linear;
		width: 100%;
		/*padding: 4px 10px 10px 10px;*/
		padding: 4px 10px 6px 10px;

	}

	.transact-nav button {

		transition: background-color: .5s linear;
		-webkit-transition: background-color: .5s linear;
		-moz-transition: background-color: .5s linear;
		-o-transition: background-color: .5s linear;
		-ms-transition: background-color: .5s linear;
	}
	.transact-nav button:hover {
		background-color: #f7941d;
		color: #fff;
	}
	.transaction-menu {
		height: 100%;
		float: right;
		width: 20vw;
	}

	.white-menu .control-icon:nth-child(8) {
		border: none;
	}
	.history-panel .order-history {
		padding: 50px;
		margin-left: 10vw;
		width: 60%;
	}

}	

@media (max-width: 1200px) {
	.full-height {
	    /*height: calc(100vh - 253px);*/
	    /*height: auto;*/
	}

	.full-panel {
		width: 100%;
	}
}

@media (max-width: 992px) {

	.full-panel {
		overflow: hidden;
		transition: width .5s;
		min-height: 550px;
	}
	.order-menu .nav-response {
		border-top: 2px solid #ccc;
		border-left: 2px solid #ccc;
		border-right: 2px solid #ccc;
		display: block;
		padding: 10px 5px 10px 10px;
	}
	.order-menu .nav-response i {
		font-size: 30px;
	}
	.order-menu i {
		display: block;
	}
	.order-menu button {
		text-align: right;
	}
	.order-menu {
	/*	position: absolute;
		top: 0px;
		right: -28vw;
		width: 300px !important;
		height: 0px;*/

	}
	.order-history {
		width: 90% !important;
		transition: width .5s;
	}

	.order-history-left {
		width: 65% !important;
	}
	.history-panel {
		position: relative;

	}
	.transaction-menu {
		position: absolute;
    	top: 0px;
    	right: -120px;
    	margin-top: 30px;
    	transition: right .5s;
    	background-color: white;
    	z-index: 2;
	}
	.transaction-menu .white-menu .nav-response .fa {
		display: block;
 	   font-size: 20px;
	}
	
	.transaction-menu .white-menu .control-icon .fa {
	    display: block;
    	padding: 10px;
    	font-size: 22px;
	}
	.transaction-menu .white-menu .control-icon .ag-button {
		    font-size: 15px;
  	  padding: 10px 10px 8px 65px;
    text-align: center;
	}

	.order-history .title-content-item {
		padding-left: 10px;
	}
	.order-history .title-content-item p:first-child {
		font-size: 20px;
	}
	.order-history .title-content-item p:last-child {
		font-size: 15px;
	}
}


@media (max-width: 450px) {
		/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		text-align: right;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Date Added"; }
	td:nth-of-type(2):before { content: "Description";
		text-align: right;
	}
	td:nth-of-type(3):before { content: "Amount (PHP)"; }
	
}
}