
.first-panel{
	background: url(../images/about/first-panel-bg.jpg) center center ;
	background-size: cover; 
	-webkit-background-size: cover; 
	-moz-background-size: cover;
}

.first-panel-center{
	padding-left: 0;
	display: flex;
	align-items: center;
}

.first-panel-content{
	max-width: 600px;
	margin: 0 auto;
	/*background-color: red;*/
}

.first-panel-content .heading-text{
	font-size: 50px;
	margin-bottom: 50px;
	font-family: 'Lato-Light';
}

.first-panel-content p{
	text-align: justify;
	text-transform: none;
}

@media (max-width: 768px){
	.first-panel{
		height: auto;
	}

	.first-panel-center{
		width: 100%;
		padding: 0;
		height: auto;
		padding: 180px 0 100px 0;
	}

	.first-panel .heading-text{
		font-size: 35px;
		margin-bottom: 30px;
	}

	.first-panel-content .panel-text{
		padding: 0  20px;
	}
}

/*=========================================*/

.second-panel{
	height: auto;
	background: #f1e7c3;
	padding: 100px 0;
}

.second-panel-center{
	height: auto;
	float: none;
	padding-right: 0;
	width: 100%;
	/*background-color: green;*/
	text-align: center;
}

.about-second-panel-content{
	height: auto;
	/*background-color: red;*/
	width: 100%;
}

@media (max-width: 1050px){
	.second-panel-center{
		height: auto;
		padding: 0;
	}
}

.second-panel .panel-text{
	padding: 20px 20px 40px 20px;
}


