.account-full-tbl {
	width: 100%;
	border-collapse: separate;
}
.account-full-tbl tr td {
	padding: 10px 20px;
	border: 1px solid rgba(0,0,0,0.3)
}
.account-full-tbl tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}
.account-full-tbl tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}
.account-full-tbl tr td:hover {
	background-color: #f7941d;
}
.account-full-tbl tr td:hover a {
	color: #fff;
}
.account-full-tbl tr td {
	transition: background-color .5s;
}

.account-full-tbl tr td a {
	color: #333;
	font-size: 15px;
	transition: color .5s;
}
.account-full-tbl tr td a:hover {
	text-decoration: none;
}

.return-info-tbl {
	width: 100%;
	border-collapse: separate;

}
.return-info-tbl.first-tbl td{
	/*border: 1px solid rgba(0,0,0,0.3);*/
}

.return-info-tbl.first-tbl tr td:first-child {
	border-bottom-left-radius: 10px;
}
.return-info-tbl.first-tbl tr td:last-child {
	border-bottom-right-radius: 10px;
}
.return-info-tbl.first-tbl tr td div {
	padding: 20px 30px;
	font-size: 15px;
}
.return-info-tbl.first-tbl p span {
	font-weight: 600;
	margin-right: 5px;
}
.return-info-tbl.second-tbl tr td div {
	padding: 15px 28px;
	font-size: 15px;
}
.return-info-tbl.second-tbl tr td {
	/*border: 1px solid rgba(0,0,0,0.3);*/
}
.return-info-tbl.second-tbl tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}
.return-info-tbl.second-tbl tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}
.return-info-tbl.third-tbl tr td div {
	padding: 15px 30px;
}
.return-info-tbl.third-tbl tr:first-child td:first-child {
	border-top-left-radius: 10px;
}
.return-info-tbl.third-tbl tr:first-child td:last-child {
	border-top-right-radius: 10px;
}
.return-info-tbl.third-tbl tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}
.return-info-tbl.third-tbl tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}
.return-info-tbl.third-tbl tr td{
	/*border: 1px solid rgba(0,0,0,0.3);*/
}

textarea.big-text {
	outline: none;
	resize: none;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 5px;
	padding: 5px;
}

table.prod-info td {
	padding-top: 10px;
}
table.prod-info .move-top {
	vertical-align: top;
}