.user-move-left {
	right: -12px !important;
}

@media (min-width: 993px) and (max-width: 1950px) {
	.account-user-full-panel {
		height: auto;
	}
} 	

@media (max-width: 992px) {
	.account-user-full-panel {
		width: 100%;
    	height: auto;
    	position: relative;
    	overflow: hidden;
    	padding: 30px 80px 30px 30px;
	}

	.account-user-full-panel .wishlist {
		width: 100%;
	}

	.account-user-full-panel .box-panel {
		margin-top: 10px;
		width: 100%;
	}
	.account-user-navigation .wish-nav {
		padding-left: 0px;
	}
	

	.full-panel {
		height: auto;
	}


	.nav-right {
		position: absolute;
	    top: 0px;
	    right: -171px;
	    margin-top: 30px;
	    transition: right .5s;
	    background-color: white;
	    z-index: 2;
	}
	.nav-right .wish-nav {
		width: initial;
	}

	.nav-right .nav-response,
	.nav-right .nav-response i  {
		display: block;
	}

	.nav-right .nav-response {
		display: block;
    	padding: 12px;
    	border: 2px solid #d8d8d6;
	}
	.nav-right .nav-response i {
		display: block;
    	font-size: 20px;
	}
	.nav-right .white-menu .control-icon .fa {
		    display: block;
    padding: 10px;
    font-size: 22px;
	}
	.nav-right .white-menu .control-icon .ag-button {
		font-size: 15px;
		padding: 10px 30px 8px 80px;
	}
	.white-menu .control-icon:nth-child(8) {
		border-bottom: none;
	}
	.white-menu .control-icon:last-child {
		border-bottom: 2px solid #d8d8d6;
	}

	

}

	@media (max-width: 500px) {
		.full-panel {
			padding: 20px 60px 10px 20px;
		}
	.full-panel .title-content {
		font-size: 20px;
		height: auto;
	}
}

@media (max-width: 420px) {
	.full-panel {
		height: auto;
		
	}
}