.account-edit-move-left {
	right: -15px !important ;
}
@media (max-width: 1950px) and (min-width: 993px) {
	.panel1 {
	    padding: 20px 50px;
    	margin-left: 10vw;
    	width: 60%;
	}
}
@media (max-width: 992px) {
	.full-panel {
	    width: 100%;
    	height: calc(100vh - 230px);
    	position: relative;
    	overflow: hidden;
    	padding: 30px 80px 30px 30px;
    	min-height: 550px;
	}
	.full-panel .panel1 {
		position: relative;
	    display: block;
    	width: 100%;
	}

	.wish-navigation {
		position: absolute;
	    top: 0px;
	    right: -200px;
	    margin-top: 30px;
	    transition: right .5s;
	    background-color: white;
	    z-index: 2;
	}
	.nav-right .nav-response,
	.nav-right .nav-response i {
		display: block;
	}
	.nav-right .nav-response {
		display: block;
    	padding: 12px;
    	border: 2px solid #d8d8d6;
	}
	.nav-right .nav-response i {
		font-size: 20px;
	}
	.nav-right .control-icon .fa {
	 	display: block;
    	padding: 10px;
    	font-size: 22px;
	}
	.nav-right .control-icon .ag-button {
		font-size: 15px;
    	padding: 10px 40px 8px 100px;
    	text-align: center;
	}
	.white-menu {
		width: initial;
		padding-left: 0px;
	}
	.white-menu .control-icon:nth-child(8) {
    	border-bottom: none;
	}
	.white-menu .control-icon:last-child {
		border-bottom: 2px solid #d8d8d6;
	}
	.panel1 table tr td p {
		float: none !important;
	}
	.panel1 table tr td:first-child {
		/*width: 120px !important;*/
	}

}
@media (max-width: 500px) {
	.full-panel {
		height: auto;
		padding: 20px 60px 10px 20px;
	}
	.full-panel .panel1 {
		padding : 0px;
	}
	.full-panel .title-content {
		font-size: 20px;
		height: auto;
	}
	.box-panel table tr td {
		display: block;
	}
	.para-content {
		padding: 10px !important;
	}
}

@media (max-width: 420px) {
	.full-panel {
		height: auto;
		
	}

}
