.addressbook-move-left {
	right: -15px !important;
}

a:hover {
	text-decoration: none;
}
@media (min-width: 993px) and (max-width: 1950px) {
	
	.addressbook-full-panel {
		width: 100%;
		padding: 0px;
		height: calc(100vh - 253px);
		min-height: 550px;
	}

	.addressbook-full-panel .addressbook {
		padding: 20px 50px;
		margin-left: 10vw;
		width: 60%;
	}
}

@media (max-width: 992px) {
	.addressbook-full-panel {
		width: 100%;
	    height: calc(100vh - 150px);
	    position: relative;
	    overflow: hidden;
	    padding: 30px 80px 30px 30px;
	    min-height: 700px;
	}
	.addressbook {
		    position: relative;
    display: block;
    width: 100%;
	}

	.address-navigation {
		position: absolute;
	    top: 0px;
	    right: -200px;
	    margin-top: 30px;
	    transition: right .5s;
	    background-color: white;
	    z-index: 2;
	}

	.white-menu {
	    width: initial;
    	padding-left: 0px;
	}

	.box-panel .para-content table tr td p {
		float: left !important;
	}
	.nav-right .nav-response {
		display: block;
		padding: 12px;
		border: 2px solid #d8d8d6;
	}
	.nav-right .nav-response i {
		display: block;
		font-size: 20px;
	}
	.nav-right .control-icon .fa {
		display: block;
    	padding: 10px;
    	font-size: 22px;
	}
	.nav-right .control-icon .ag-button {
		font-size: 15px;
    	padding: 10px 40px 8px 100px;
    	text-align: center;
	}
	.white-menu .control-icon:nth-child(8) {
		border-bottom: none;
	}
	.white-menu .control-icon:last-child {
		border-bottom: 2px solid #d8d8d6;
	}

}

@media (max-width: 500px) {
	.full-panel .title-content {
		font-size: 20px;
		height: auto;

	}
	.full-panel {
		min-height: 550px;
		padding: 20px 60px 10px 20px;
	}
	.full-panel .addressbook {
		padding: 0px;
	}
	.full-panel .addressbook .para-content {
		padding: 10px !important;
	}
	.full-panel .addressbook .para-content .button-div {
		
	}
	.full-panel .addressbook .para-content .box-panel .button-div .ag-button {
		display: block;
	}
	.full-panel .addressbook div:nth-of-type(1)  {
		width: 100%;
	}
	.full-panel .addressbook div:nth-of-type(2) {
		display: block;
		float: none !important;
	}
	.full-panel .addressbook div:nth-of-type(2) .ag-button {
		margin-right: 5px !important;
		
	}
	.full-panel .addressbook div:nth-of-type(3) {
		float: none !important;
	}
}

@media (max-width: 420px) {
	.full-panel {
		height: auto;
		/*padding: 10px;*/
	}
}