.change-move-left {
	right: -15px !important;
}

@media (min-width: 993px) and (max-width: 1950px) {
	.change-pass {
		padding: 50px;
   		width: 60%;
    	margin-left: 10vw;
	}

}
@media (max-width: 992px) {
	.full-panel {
		width: 100%;
    	height: calc(100vh - 230px);
    	position: relative;
    	overflow: hidden;
    	padding: 30px 80px 30px 30px;
    	min-height: 550px;
	}
	.full-panel .change-pass {
		width: 100%;
	}

	.nav-right {
		position: absolute;
    	top: 0px;
    	right: -200px;
    	margin-top: 30px;
    	transition: right .5s;
    	background-color: white;
    	z-index: 2;
	}
	.nav-right .white-menu {
		width: initial;
	}
	.nav-right .nav-response {
	    display: block;
    	padding: 12px;
    	border: 2px solid #d8d8d6;
	}
	.nav-right .nav-response i {
		font-size: 20px;
		display: block;
	}
	
	.nav-right .control-icon .fa {
		display: block;
		padding: 10px;
		font-size: 22px;
	}
	.nav-right .control-icon .ag-button {
		font-size: 15px;
		padding: 10px 40px 8px 100px;
		text-align: center;
	}
	.white-menu .control-icon:nth-child(8) {
		border-bottom: none;
	}
	.white-menu .control-icon:last-child {
		border-bottom: 2px solid #d8d8d6;
	}
}
@media (max-width: 500px) {
	.full-panel {
		padding: 20px 60px 10px 20px;
	}
	.full-panel .change-pass {
		padding: 0px;
	}
	.full-panel .change-pass table tr td {
		display: block;
	}
	.full-panel .change-pass table tr td p {
		float: none !important;
		margin: 0px;
	}
}

@media (max-width: 420px) {
	.full-panel {
		min-height: 550px;
		/*height: calc(100vh  - 200px);*/
		/*padding: 20px;*/
	}

	.box-panel .para-content {
		padding: 10px !important;
	}
	.box-panel .para-content table tr td {
		/*width: 100px !important;*/
	}
}

@media (max-width: 500px) {
	.full-panel .title-content {
		font-size: 20px;
		height: auto;
	}
}

