.edit-move-left {
	right: -15px !important;
}
.full-panel {
	/*min-height: 500px;*/
}

@media (min-width: 993px) and (max-width: 1950px) {
	.edit-address-panel {
		width: 100%;
    	padding: 0px;
		height: calc(100vh - 253px);
		min-height: 700px;
	}	

	.edit-address {
		padding: 20px 50px;
		margin-left: 10vw;
		width: 60%;
	}
}
@media (max-width: 992px) {
	.full-panel {
		width: 100%;
		height: calc(100vh - 252px);
		position: relative;
		overflow: hidden;
		padding: 30px 80px 30px 30px;
		min-height: 700px;
	}
	.full-panel .edit-address {
		position: relative;
		display: block;
		width: 100%;
	}

	.edit-navigation {
		position: absolute;
	    top: 0px;
	    right: -200px;
	    margin-top: 30px;
	    transition: right .5s;
	    background-color: white;
	    z-index: 2;
	}

	.white-menu {
	    width: initial;
    	padding-left: 0px;
	}

	.box-panel .para-content table tr td p {
		float: left !important;
	}
	.nav-right .nav-response {
		display: block;
    padding: 12px;
    border: 2px solid #d8d8d6;
	}
	.nav-right .nav-response i {
		display: block;
		font-size: 20px;
	}
	.nav-right .control-icon .fa {
		    display: block;
    padding: 10px;
    font-size: 22px;
	}
	.nav-right .control-icon .ag-button {
		font-size: 15px;
    padding: 10px 40px 8px 100px;
    text-align: center;
	}
	.white-menu .control-icon:nth-child(8) {
		border-bottom: none;
	}
	.white-menu .control-icon:last-child {
		border-bottom: 2px solid #d8d8d6;
	}
}

@media (max-width: 500px) {
	.full-panel {
		font-size: 20px;
		height: auto;
		padding: 20px 60px 10px 20px;
	}
	.full-panel .edit-address {
		padding: 0px;
	}

	.full-panel .edit-address tr td {
		display: block;
	}
	.full-panel .edit-address tr td p {
		float: none !important;
		margin : 0px;
	}
	.full-panel .para-content {
		padding: 10px !important;
	}
	.full-panel input {
		font-size: 15px;
	}
	.box-panel > p {
		font-size: 15px;
	}
}

@media (max-width: 420px) {
	.full-panel {
		height: auto;
		/*padding: 20px;*/
	}

	.box-panel .para-content {
		padding: 10px !important;
	}

	.box-panel .para-content table tr td:last-child {
		margin-top: 30px;
	}
}
