
.faq-panel{
	position: relative;
	/*height: 100vh;*/

	background: url(../images/faq/first-panel-bg.jpg) center center ;
	background-size: cover; 
	-webkit-background-size: cover; 
	-moz-background-size: cover;
}

.faq-panel-center{
	text-align: center;
	width: 100%;
	height: 100vh;
	/*background-color: pink;*/
	display: flex;
	align-items: center;
	justify-content:center;
}

.faq-panel-content{
	width: 100%;
	/*background-color: green;*/
	display: inline-block;
	vertical-align: middle;
}

.faq-panel-content .heading-text{
	font-size: 50px;
	margin-bottom: 50px;
	font-family: 'Lato-Light';
}


.accordion {
    max-width: 800px;
    padding: 0 20px;
    margin: 0 auto;
}

.accordion .fa{
	margin-right: 10px;
	color: #0e3b44;
}

.accordion h3 {
	text-align: left;
	display: block;
	/*width: 600px;*/
	width: 100%;
    /*background:#559b6a;*/
    color: #333;
    /*color:#fff;*/
    cursor:pointer;
    margin:0 0 1px 0;
    padding:4px 10px;
    font-size: 20px;
}
.accordion h3.current {
    /*background:#4289aa;*/
    cursor:default
}
.accordion div.pane {
	text-align: left;
    padding:5px 10px 5px 28px;
}

.accordion h3.current .fa{
	transform: rotate(90deg);
	transition: all 0.3s ease-in-out;
}

@media (max-width: 768px){
	.accordion h3{
		font-size: 16px;
	}
}

@media (max-width: 500px) {
	.faq-panel-center {
		display: block;
		height: auto;
		padding-top: 100px;
		/*height: calc(100vh - 130px);*/
		min-height: 800px;
	}

}