.bioclear-panel,
.hemroid-panel,
.innerg-panel,
.reglar-panel{
	background-color: #fff !important;
}

.padding-top-12 {
	padding-top: 13px !important;
}
.padding-top-17 {
	padding-top: 17px !important;
}
.padding-bottom-13 {
	padding-bottom: 13px !important;
}

.valign-top {
	vertical-align: top !important;
}
.width-145px {
	width: 145px !important;
}
.width-63px {
	width: 63px !important;
}
.line-height-0 {
	line-height: 0px;
}
.heading-panel{
	position: relative;
	height: 150px;
	padding-top: 105px;
	color: #f7941d;

	background: url(../images/product/heading-bg.jpg) center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover; 
}

a.ag-button:active{
	text-decoration: none !important;
	color: #fff !important;
}

.heading-panel .fa-home{
	font-size: 30px;
	padding-left: 20px;
	padding-top: 5px;
}

.heading-panel h2{
	display: inline-block;
	font-weight: normal;
	color: #fff;
}

@media (max-width: 768px) {
	.heading-panel {
		height: auto;
		padding-left: 20px;
	}
	.heading-panel .fa-home {
		padding-left :0px;
	}
	.heading-panel .fa {
		font-size: 25px;
		padding-top: 10px;
	}
	.heading-panel h2 {
		font-size: 12px;
	}
}

.left-panel{
	float: left;
	width: calc(100vw - 400px );
	border-right: 1px solid #ccc;
}

/* add to cart */
.right-panel{
	position: fixed;
	right: 0;
	width: 400px;
	height: 100vh;
	padding: 20px;
}

.right-panel-content{
	padding: 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.right-panel form{
	display: block;
}

.right-panel form label{
	display: block;
	font-weight: normal;
}

.right-panel form input{
	border: 0;
	outline: 0;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 5px;
}

.right-panel .item-price{
	font-size: 30px;
	margin: 30px 0;
}

.add-button,
.minus-button{
	padding: 6px 10px;
}

.add-to-button{
	margin-top: 20px;
}

.nav-show-button{
	display: none;
	position: absolute;
	top: 50%;
	left: -50px;

	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
}

.nav-show-button .ag-button{
	border-radius: 3px 0 0 3px;
	text-align: left;
}

.show-button-rotate{
	transform: rotate(180deg);
}

@media (max-width: 1100px){
	.left-panel{
		width: 100%;
	}

	.right-panel{
		top: 0;
		height: 100vh;
		padding-top: 120px;
		background-color: #fff;
		right: -400px;

		transition: 0.3s;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
	}

	.addcart-show{
		right: 0 !important;
	}

	.nav-show-button{
		display: block;
	}

}

@media (max-width: 768px){
	.nav-show-button{
		left: -49px;
	}

	.right-panel{
		right: -300px;
		width: 300px;
	}

	.ag-button{
		padding: 10px 20px 10px 10px;
	}

	.right-panel .item-price{
		font-size: 20px;
	}

	.right-panel-content p{
		font-size: 12px;
	}

	.right-panel-content form input {
		width: 86px !important;
	}
	.right-panel-content form button:nth-of-type(1),
	.right-panel-content form button:nth-of-type(2) {
		padding: 7px 23px;
		margin-top: 10px;
		font-size: 15px;
		font-weight: bold;
		width: 60px !important;
	}
	.right-panel-content form button:nth-of-type(3) {
		padding: 16px 20px;
		width: 149px ;
	}

}
@media (max-width: 480px) {
	.right-panel-content form button:nth-of-type(4) i{
		font-size: 16px !important;

	}
}

@media (max-width: 360px){
	.right-panel{
		width: 250px;
		right: -250px;
	}

	.nav-show-button{
		/*left: -49px;*/
		left: -32px;
	}

	.add-button,
	.minus-button{
		padding: 6px 10px;
		margin-top: 10px;
	}

	.add-to-button{
		margin-top: 10px;
	}
	.right-panel-content form input {
		width: 62px !important;
	}
	.right-panel-content form button:nth-of-type(1),
	.right-panel-content form button:nth-of-type(2) {
		width: 50px !important;
	}

	.right-panel-content form button:nth-of-type(3) {
		width: 116px !important;
		padding: 16px 10px;
	}
	.right-panel-content form button:nth-of-type(4) {
		width: 48px !important;
		padding: 0px;
	}
}

/*=============*/

.panel-banner{
	position: relative;
	height: 330px;
}

.panel-banner-text{
	max-width: 500px;
	text-align: center;
}

.panel-banner-text p{
	display: inline-block;
	margin-top: -20px;
	margin-bottom: 20px;
}

.left-panel-content{
	position: relative;
}

@media (max-width: 1200px){
	.panel-banner-text{
		float: none;
		margin: 0 auto;
		padding: 0 20px;
	}
}

/* Bioclear */
/*=========================================*/

.bioclear-banner{
	background: url(../images/product/p-second-panel-bg.jpg) left center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}

.bioclear-banner .panel-banner-text{
	float: right;
	padding-right: 5%;
	padding-top: 40px;
}

.bioclear-content{
	height: auto;
	padding: 20px;
	padding-top: 50px;

	background: url(../images/product/bioclear-panel-bg.jpg) center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}

.bioclear-item{
	width: 50%;
	float: left;
	padding-left: 50px;
	padding-bottom: 50px;
}

.bioclear-item-img{
	float: left;
	margin-right: 10px;
}

.bioclear-item-img img{
	border-radius: 100%;
	border: 5px solid #fff;
	box-shadow: 0 0 2px #aaa;
}

.bioclear-item-text{
	position: relative;
}

.bioclear-item-text h3{
	margin: 0;
}

.bioclear-item-text p{
	font-style: italic;
	font-size: 12px;
}

.bioclear-item-text ul{
	list-style-type: disc;
	position: absolute;
	left: 180px;
}

@media (max-width: 1200px){
	.bioclear-item{
		width: 100%;
	}

	.bioclear-banner .panel-banner-text{
		/*width: 100%;*/
		margin: 0 auto;
		float: none;
	}
}

@media (max-width: 1100px){
	.bioclear-item{
		width: 50%;
		padding-left: 0;
	}
}

@media (max-width: 768px){
	.bioclear-banner .panel-banner-text{
		float: none;
	}


	.bioclear-item{
		width: 100%;
	}
}

@media (max-width: 400px){
	.bioclear-item-img img{
		max-width: 100px;
	}

	.bioclear-item-img{
		width: 100%;
		text-align: center;
	}

	.bioclear-item{
		text-align: center;
		margin-bottom: 80px;
	}

	.bioclear-item-text ul{
		margin-top: 10px;
		text-align: left;
		left: 30px;
	}
}


/* Hemroid */
/*=========================================*/

.hemroid-banner{
	background: url(../images/product/p-third-panel-bg.jpg) right center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}

.hemroid-banner .panel-banner-text{
	padding-left: 5%;
	padding-top: 40px;
}

.hemroid-container,
.innerg-container,
.reglar-container{
	max-width: 900px;
	margin: 0 auto;
}

.hemroid-content{
	height: auto;
	padding: 20px;
	padding-top: 50px;

	background: url(../images/product/hemroid-panel-bg.jpg) center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}

.hemroid-content h3{
	margin: 0;
}

.hemroid-content p{
	margin-bottom: 20px;
}

.hemroid-content h3{
	margin-bottom: 5px;
}

.hemroid-content ul{
	list-style-type: disc;
	width: calc(50% - 20px);
	float: left;
	margin-bottom: 20px;
	margin-left: 20px;
}

.hemroid-item{
	padding: 20px;
	width: 50%;
	float: left;
	text-align: center;
}

.hemroid-item img{
	border-radius: 100%;
	border: 5px solid #fff;
	box-shadow: 0 0 2px #aaa;
	margin-bottom: 10px;
}

.hemroid-item h3,
.hemroid-item p{
	text-align: left;
}

@media (max-width: 400px){
	.hemroid-item{
		width: 100%;
	}

	.hemroid-item img{
		max-width: 100px;
	}
}

/* Inner - G */
/*=========================================*/

.innerg-banner{
	background: url(../images/product/p-fourth-panel-bg.jpg) left center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}

.innerg-gold-banner{
	background: url(../images/product/p-fourth-innerg-panel-bg.jpg) center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}

.innerg-gold-banner .panel-banner-text{
	padding-left: 5%;
	padding-top: 40px;
	float: left;
}

.innerg-banner .panel-banner-text{
	padding-right: 5%;
	padding-top: 40px;
	float: right;
}

.innerg-banner .panel-banner-text p{
	padding: 0 20px;
	margin-top: 10px;
}

.innerg-banner img{
	max-width: 200px;
	display: inline-block;
}

.innerg-container{

}

.innerg-content{
	height: auto;
	padding: 20px;
	padding-top: 50px;

	background: url(../images/product/innerg-panel-bg.jpg) center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}

.innerg-gold-content {
	height: auto;
	padding: 20px;
	padding-top: 50px;
}

.innerg-content h3{
	margin: 0;
}

.innerg-content p{
	margin-bottom: 20px;
}

.innerg-content h3{
	margin-bottom: 5px;
}

.innerg-inner-content{
	font-size: 0;
	margin-bottom: 20px;
}

.innerg-item{
	width: 50%;
	padding: 0 20px;
	display: inline-block;
	font-size: 14px;
	vertical-align: top;
	text-align: center;
}


.innerg-content h4{
	display: block;
	background: green;
	font-size: 12px;
	text-align: left;
	margin: 0;
}

.innerg-content ul{
	list-style-type: disc;
	width: calc(50% - 20px);
	float: left;
	margin-bottom: 20px;
	margin-left: 20px;
}


.innerg-item img{
	border-radius: 100%;
	border: 5px solid #fff;
	box-shadow: 0 0 2px #aaa;
	margin-bottom: 10px;
}

.innerg-item h3,
.innerg-item p{
	text-align: left;
}

@media (max-width: 1200px){
	.innerg-banner .panel-banner-text{
		padding-right: 0;
		float: none;
		margin: 0 auto;
	}
}

@media (max-width: 450px){
	.innerg-banner{
		height: auto;
		padding-bottom: 40px;
	}
}

@media (max-width: 400px){
	.innerg-item{
		width: 100%;
	}

	.innerg-item img{
		max-width: 100px;
	}
}

/* Reglar */
/*=========================================*/

.reglar-banner{
	background: url(../images/product/p-fifth-panel-bg.jpg) right center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}

.reglar-banner .panel-banner-text{
	padding-right: 5%;
	padding-top: 40px;
	float: right;
}

.reglar-banner img{
	max-width: 200px;
	display: inline-block;
}

.reglar-container{
	/*width: 60%;*/
	/*margin: 0 auto;*/
}

.reglar-content{
	height: auto;
	padding: 20px;
	padding-top: 50px;

	background: url(../images/product/reglar-panel-bg.jpg) center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}

.reglar-content h3{
	margin: 0;
}

.reglar-content p{
	margin-bottom: 20px;
}

.reglar-content h3{
	margin-bottom: 5px;
}

.reglar-inner-content{
	font-size: 0;
	margin-bottom: 20px;
}

.reglar-content h4{
	display: block;
	background: green;
	font-size: 12px;
	text-align: left;
	margin: 0;
}

.reglar-content ul{
	list-style-type: disc;
	width: calc(50% - 20px);
	float: left;
	margin-bottom: 20px;
	margin-left: 20px;
}

.reglar-item{
	width: 100%;
	padding: 0 20px;
	display: inline-block;
	font-size: 14px;
	vertical-align: top;
	margin-bottom: 20px;
}

.reglar-item-img{
	float: left;
	width: 20%;
}

.reglar-item-img img{
	max-width: 100%;
	border-radius: 100%;
	border: 5px solid #fff;
	box-shadow: 0 0 2px #aaa;
	margin-bottom: 10px;
}

.reglar-item-text{
	width: 78%;
	padding-left: 2%;
	display: inline-block;
}

.reglar-item h3,
.reglar-item p{
	text-align: left;
}

@media (max-width: 1200px){
	.reglar-banner .panel-banner-text{
		padding-left: 0;
		float: none;
		margin: 0 auto;
	}

	.reglar-container{
		width: 100%;
		/*margin: 0 auto;*/
	}
}

@media (max-width: 768px){
	.reglar-banner .panel-banner-text{
		padding-left:20px;
		padding-right:20px;
	}

	.reglar-item img{
		max-width: 100px;
	}

	.reglar-item-img{
		width: 100%;
		text-align: center;
	}

	.reglar-item-text{
		width: 100%;
		/*padding-left: 2%;*/
		display: inline-block;
		/*background-color: green;*/
	}
}

@media (max-width: 450px){
	.reglar-banner{
		height: auto;
		padding-bottom: 40px;
	}
}

@media (max-width: 400px){
	.reglar-item{
		width: 100%;
	}
}