.order-move-left {
	right: 0px !important;
}

@media (max-height: 1100px) {
	.forgot-nav .control-icon {
	    height: auto;
	}
}

.order-history {
	position: relative;
	z-index: 1;
}
.fixed-page {
	height: calc(100vh - 253px);
}

.full-panel .order-history {
	float: left;	
	width: 65%;
}

.full-panel .tbl-order {
	font-family: 'Lato-Regular' sans-serif;
}
.full-panel .tbl-order tr th {
	padding: 10px 5px;
	text-align: center;
}
.full-panel .tbl-order tr td {
	padding: 5px 10px;
}
.full-panel .tbl-order button {
	padding: 0px;
}
.full-panel .tbl-order tr td:last-child {
	text-align: right;
}
.full-panel .tbl-order tr td:first-child {	
	text-align: right;
}
.full-panel .tbl-order tr td:nth-of-type(4) {
	text-align: right;
}
.full-panel .tbl-order tr td:last-child {
	text-align: center;
}

.full-panel .tbl-order .ag-button {
	width: 30px;
	height: 30px;
}
.order-menu {
	transition: right .5s;
}
.box-panel {
	position: relative;
	z-index: 1;
}
.nav-bottom li {
	border: 1px solid #ccc;	
	cursor: pointer;
	display: inline-block;
	padding: 5px 10px;
	float: left;
}
.nav-bottom li:hover {
	background-color: #2097c5;
}

.nav-bottom li:nth-of-type(1) {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.nav-bottom li:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.nav-bottom li:nth-of-type(3) {

}

.title-content-item {
	background-color: #13525f;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff;   
    font-family: 'Lato-Light', sans-serif;
    height: 73px;
    padding-left: 30px;       
    width: 100%;
}
.title-content-item p:first-child {
	font-size: 30px;
	padding-top: 5px;
}
@media (max-height: 768px) {
	.full-panel {
		height: auto;
	}
}

@media (min-width: 993px) and (max-width: 1920px ) {

	.full-panel {
		width: 100%;
		padding: 0px;
		min-height: 500px;
	}

	.nav-right {
		height: 100%;		
	}

	.cont-panel {
		margin: 0 auto;
		float: left;
		width: 79%;
	}
	.cont-panel .login-panel1 {
		width: 40%;
		margin-left: 9vw;
	}
	.cont-panel .login-panel2 {
		width: 40%;
		float: left;
		/*margin-right: 2vw;*/
	}
	.nav-right {
		float: right;
	}
	
	.full-panel	.order-history {
	    padding: 50px 50px;
    	margin-left: 10Vw;
    	width: 60%;
    	float: left;
	}
	.order-history-nav {
		float: right;
		width: 20vw;
	}

	.order-menu {
		border-image: linear-gradient(to bottom, white, #ccc, white) 1 100%;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		float: right;
		height: calc(100vh - 252px);
		margin-top: 0px !important;
		position: fixed;	
		/*padding: 5vw 10px 7vw 10px;*/
		padding: 3vw 10px 7vw 10px;
		width: 20vw;
	}
	.order-menu .control-icon  {
		margin: 0 auto;
		width: 100%;

	}
	.order-menu .ag-button {
		border: none;
		transition: background-color .2s linear;
		width: 100%;
		/*padding: 4px 10px 10px 10px;*/
		padding: 4px 10px 6px 10px;
	}

	.order-menu button {
		transition: background-color: .5s linear;
		-webkit-transition: background-color: .5s linear;
		-moz-transition: background-color: .5s linear;
		-o-transition: background-color: .5s linear;
		-ms-transition: background-color: .5s linear;
	}
	.order-menu button:hover {
		background-color: #f7941d;
		color: #fff;
	}
	.white-menu .control-icon:nth-child(8) {
		border: none;
	}
}	


@media (max-width: 1200px) {
	.full-height {
	    height: calc(100vh - 253px);
	}

	.full-panel {
		width: 100%;
	}
	.full-panel .order-history {
		width: 55%;
		margin-left: 14vw;
		padding: 50px 20px;
	}
}


@media (max-width: 992px) {

	header {
		width: 100vw;
	}

	.full-panel {
		width: 100%;
    	height: calc(100vh - 252px);
    	position: relative;
    	overflow: hidden;
    	padding: 30px 80px 30px 30px;
    	min-height: 550px;


	}

	.full-panel .order-history {
		width: 100%;
		margin-left: 0px;	
		padding: 30px 15px 0px 15px;	

	}
	.full-panel .order-history-nav {
		position: absolute;
	    top: 0px;
	    right: -165px;
	    margin-top: 30px;
	    transition: right .5s;
	    background-color: white;
	    z-index: 2;
	}
	.full-panel .order-history-nav .order-menu {
		width: 215px;
	}
	.full-panel .order-history-nav .nav-response {
		display: block;
    	padding: 12px;
    	border: 2px solid #d8d8d6;
	}
	.full-panel .order-history-nav .nav-response i {
		font-size: 20px;
		display: block;
	}
	.full-panel .order-history-nav .control-icon .fa {
		display: block;
    	padding: 10px;
    	font-size: 22px;
	}
	.full-panel .order-history-nav .control-icon .ag-button {
		font-size: 15px;
    padding: 10px 10px 8px 65px;
	}
	
}

@media (max-width: 768px) {
	.order-menu {
		z-index: 1;
	}

	.order-menu .control-icon:last-child {
		border-bottom: ;
	}

	.order-menu .nav-response {
		/*height: 38px;*/
	}
	.order-menu .nav-response .fa  {
		font-size: 20px;
	}
	.order-menu .control-icon {
		/*height: 38px;*/
	}
	.order-menu .control-icon .fa {
		font-size: 25px;
		padding: 8px 10px 4px 10px;
	}
	.order-menu .control-icon .ag-button {
		font-size: 15px;
	}
	.order-menu .control-icon:nth-of-type(8) button {
		height: 36px;
	}
	.history-panel {

	}

	.fixed-page {
		height: calc(100vh - 310px);
	}
}

@media (max-width: 650px) {

	.history-panel {
		height: auto;
		padding: 30px 80px 30px 30px;
	}

	.tbl-wish table, .tbl-wish thead,
	.tbl-wish tbody, .tbl-wish th, 
	.tbl-wish td, .tbl-wish tr {
		display: block;		
	} 

	.tbl-wish thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.tbl-wish tr {
		border: 1px solid #ccc;
	}

	.tbl-wish td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		text-align: right;
	}

	.tbl-wish td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	.tbl-wish td:nth-of-type(1):before {
		content: "Order ID";
	}
	.tbl-wish td:nth-of-type(2):before {
		content: "Order Status";
	}
	.tbl-wish td:nth-of-type(3):before {
		content: "Date Added";
	}
	.tbl-wish td:nth-of-type(4):before {
		content: "No. of Products";
	}
	.tbl-wish td:nth-of-type(5):before {
		content: "Costumer";
	}
	.tbl-wish td:nth-of-type(6):before {
		content: "Total";
	}
}

@media (max-width: 500px) {
	.full-panel {
		padding: 20px 60px 10px 20px;
	}
	.order-history {
		padding: 10px 0px !important;
	}
}

@media (max-width: 450px) {
/*	.full-panel {
		padding: 20px !important;
	}*/
	.order-history .title-content {
		font-size: 20px;
		height: auto;
	}
}

@media (max-width: 420px) {
	.heading-panel h2 {
		font-size: 12px;
	}
}

@media (max-width: 505px) {
	footer .footer-nav li:nth-of-type(1) {
		display: block;
	}
}


