.p-first-panel{
	height: calc(200px + 100px);
	padding-top: 160px;
	text-align: center;

	background: url(../images/product/p-first-panel-bg.jpg) center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}

.p-first-panel .heading-text{
	font-family: 'Lato-Light';
}

@media (max-width: 768px){
	.p-first-panel{
		padding-top: 180px;
	}
}

/* Bioclear */
/*=========================================*/

/*odd */
/*hemoroid reglar*/
.product-odd {
	height: 300px;
    /*background: url(../images/product/p-third-panel-bg.jpg) center center;*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

/*right */
/*inner-g bio-clear*/
.product-even {
	height: 300px;
    /*background: url(../images/product/p-fourth-panel-bg.jpg) center center;*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;

}



@media (max-width: 500px) {
	.product-bioclear {
		height: 350px !important;
	}
	.product-hemoroid {
		height: 350px !important;
	}
	.product-innerg {
		height: 500px !important;
	}
	.product-reglar {
		height: 350px !important;
	}
}
 
.product-bioclear{
	position: relative;
	background-color: red;
	height: 300px;

	background: url(../images/product/p-second-panel-bg.jpg) center center;
/*	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;*/
}


.product-hemroid{
	position: relative;
	background-color: red;
	height: 300px;

	background: url(../images/product/p-third-panel-bg.jpg) center center;
/*	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;*/
}



/*remove*/
/*.bioclear-content{
	text-align: center;
	max-width: 600px;
	padding: 0 20px;
	float: right;
}*/

.content-odd {
	text-align: center;
	max-width: 600px;
	padding: 0 20px;
	float: right;
}
.content-odd p {
	position: relative;
	top: -20px;
}
/*.bioclear-content p{
	position: relative;
	top: -20px;
}*/

@media (min-width: 1100px){
	.content-odd{
		margin-right: 250px;
	}
}

@media (max-width: 768px){
	.product-bioclear{
		background: url(../images/product/p-second-res-bg.jpg) center center;
		/*background-position: left; */
		height: auto;
		padding-bottom: 40px;
	}

	.content-odd{
		float: none;
		margin: 0 auto;
	}
}


/* Hemoroid */
/*=========================================*/

.product-hemoroid{
	/*height: 300px;*/

	background: url(../images/product/p-third-panel-bg.jpg) center center;
	/*background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;*/
}
.product-odd {
	height: 300px;
    /*background: url(../images/product/p-third-panel-bg.jpg) center center;*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

.content-even{
	max-width: 600px;
	text-align: center;
	padding: 0  20px;
}


.content-even p{
	position: relative;
	top: -20px;
}


@media (min-width: 1100px){
	.content-even{
		margin-left: 250px;
	}
}

@media (max-width: 768px){
	.product-hemoroid{
		height: auto;
		padding-bottom: 40px;
	}

	.content-even{
		margin: 0 auto;
	}
}

.product-innerg-gold{
	/*height: 300px;*/

	background: url(../images/product/p-fourth-innerg-panel-bg.jpg) center center;
/*	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;*/
}

/* Inner G */
/*=========================================*/

.product-innerg{
	/*height: 300px;*/

	background: url(../images/product/p-fourth-panel-bg.jpg) center center;
/*	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;*/
}
.product-even {
	height: 300px;
    /*background: url(../images/product/p-fourth-panel-bg.jpg) center center;*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;

}

.innerg-content{
	max-width: 600px;
	text-align: center;
	padding: 0 20px;
	float: right;
}

.innerg-content p{
	position: relative;
	top: -15px;
}

@media (min-width: 1100px){
	.innerg-content{
		margin-right: 250px;
	}
}

@media (max-width: 768px){
	.product-innerg{
		background: url(../images/product/p-fourth-res-bg.jpg) center center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		height: auto;
		padding-bottom: 40px;
	}

	.innerg-content{
		float: none;
		margin: 0 auto;
	}

}

@media (max-width: 550px){
	.innerg-content img:nth-child(2){
		margin-top: -50px;
		margin-bottom: 10px;
	}
}

/* Reglar */
/*=========================================*/

.product-reglar{
	/*height: 300px;*/

	background: url(../images/product/p-fifth-panel-bg.jpg) center center;
/*	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;*/
}
.product-odd {
	height: 300px;
    /*background: url(../images/product/p-third-panel-bg.jpg) center center;*/
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

.reglar-content{
	max-width: 600px;
	text-align: center;
	padding: 0 20px;
}

.reglar-content p{
	position: relative;
	top: -15px;
}

@media (min-width: 1100px){
	.reglar-content{
		margin-left: 250px;
	}
}

@media (max-width: 768px){
	.product-reglar{
		height: auto;
		padding-bottom: 40px;
	}

	.reglar-content{
		margin: 0 auto;
	}
}

/* button */
/*=========================================*/

.button-first{
	margin-right: 10px;
}

