
.return-move-left {
	right: 1px !important;
}
.order-history {
	position: relative;
	z-index: 1;
}

.fixed-page {
	height: calc(100vh - 255px);
}

.full-panel .order-history {
	float: left;	
	width: 60%;
}

.full-panel .order-menu {
	float: right;
	/*width: 30%;*/
}
.full-panel .tbl-order {
	font-family: 'Lato-Regular' sans-serif;
}
.full-panel .tbl-order tr th {
	padding: 10px 5px;
	text-align: center;
}
.full-panel .tbl-order tr td {
	padding: 5px 10px;
}
.full-panel .tbl-order button {
	padding: 0px;
}
.full-panel .tbl-order tr td:last-child {
	text-align: right;
}
.full-panel .tbl-order tr td:first-child {	
	text-align: right;
}
.full-panel .tbl-order tr td:nth-of-type(4) {
	text-align: right;
}
.full-panel .tbl-order tr td:last-child {
	text-align: center;
}
.full-panel .tbl-order tr td .ag-button {
	width: 30px;
	height: 30px;
}
.order-menu {
	transition: right .5s;
}
.box-panel {
	position: relative;
	z-index: 1;
}
.nav-bottom li {
	border: 1px solid #ccc;	
	cursor: pointer;
	display: inline-block;
	padding: 5px 10px;
	float: left;
}
.nav-bottom li:hover {
	background-color: #2097c5;
}

.nav-bottom li:nth-of-type(1) {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.nav-bottom li:last-child {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.nav-bottom li:nth-of-type(3) {

}

.title-content-item {
	background-color: #13525f;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff;   
    font-family: 'Lato-Light', sans-serif;
    height: 73px;
    padding-left: 30px;       
    width: 100%;
}
.title-content-item p:first-child {
	font-size: 30px;
	padding-top: 5px;
}

@media (max-height: 1100px) {
	.product-return-nav .control-icon {
	    height: auto;
	}
}

@media (max-height: 768px) {
/*	.full-panel {
		height: auto;
	}*/
}

@media (min-width: 993px) and (max-width: 1920px ) {
	.full-panel {
		width: 100%;
		padding: 0px;
		min-height: 450px;
	}

	.nav-right {
		height: 100%;		
	}

	.cont-panel {
		margin: 0 auto;
		float: left;
		width: 79%;
	}
	.cont-panel .login-panel1 {
		width: 40%;
		margin-left: 9vw;
	}
	.cont-panel .login-panel2 {
		width: 40%;
		float: left;
		/*margin-right: 2vw;*/
	}
	.nav-right {
		float: right;
	}
	.return-menu {
		border-image: linear-gradient(to bottom, white, #ccc, white) 1 100%;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		float: right;
		height: 100%;
		margin-top: 0px !important;
		/*padding: 5vw 10px 7vw 10px;*/
		padding: 3vw 10px 7vw 10px;
		width: 20vw;
	}
	.return-menu .control-icon  {
		margin: 0 auto;
		width: 100%;

	}
	.return-menu .ag-button {
		border: none;
		transition: background-color .2s linear;
		width: 100%;
		/*padding: 4px 10px 10px 10px;*/
		padding: 4px 10px 6px 10px;
	}

	.return-menu button {

		transition: background-color: .5s linear;
		-webkit-transition: background-color: .5s linear;
		-moz-transition: background-color: .5s linear;
		-o-transition: background-color: .5s linear;
		-ms-transition: background-color: .5s linear;
	}
	.return-menu button:hover {
		background-color: #f7941d;
		color: #fff;
	}
	.white-menu .control-icon:nth-child(8) {
		border: none;
	}
	.product-return-nav {
		height: 100%;
		float: right;
		width: 20vw;
	}
	.product-return-nav .return-menu {
		position: fixed;
	}

	.full-panel .order-history {
		padding: 50px;
		margin-left: 10vw;
	}

}	

@media (max-width: 992px) {
	.full-panel {
		width: 100%;
    	/*height: auto;*/
    	position: relative;
    	overflow: hidden;
    	padding: 30px 80px 30px 30px;
    	min-height: 550px;
	}

	.full-panel .para-content {
		border : 0px;
	}

	.product-return-nav {
		position: absolute;
    	top: 0px;
    	right: -121px;
    	margin-top: 30px;
    	transition: right .5s;
    	background-color: white;
    	z-index: 2;
	}
	.product-return-nav .white-menu .nav-response,
	.product-return-nav .white-menu .nav-response i {
		display: block;
		font-size: 20px;
	}
	
	.product-return-nav .white-menu .nav-response {
	    display: block;
    	padding: 12px;
    	border: 2px solid #d8d8d6;
	}
	.product-return-nav .white-menu .ag-button {
		font-size: 15px;
    	padding: 10px 10px 8px 65px;
	}
	.product-return-nav .white-menu .control-icon .fa { 
		    display: block;
    	padding: 10px;
    	font-size: 22px;
	}
	.full-panel .order-history {
		width: 100%;
		padding: 0 15px;
	}

}

@media (max-width: 768px) {

	.tbl-order {
		text-align: center;

		/* Force table to not be like tables anymore */
	}
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		text-align: right;
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Return ID"; 
	text-align: right;
	}
	td:nth-of-type(2):before { content: "Status";
	text-align: right; }
	td:nth-of-type(3):before { content: "Date Added";
	text-align: right; }
	td:nth-of-type(4):before { content: "Order ID";
	text-align: right; }
	td:nth-of-type(5):before { content: "Customer?";
	text-align: right; }
	td:nth-of-type(6):before { content: "";
	text-align: right; }
	
}

@media (max-width: 500px ) {
	.full-panel {
		padding: 20px 60px 10px 20px;;
	}
	.full-panel .order-history {
		padding: 0px;
		margin: 0px;
	}
}

@media (max-width: 420px) {
	.full-panel {
		height: calc(100vh - 300px);
		padding: 20px 60px 10px 20px;
		min-height: 500px;
	}
}





