

.regs-move-left {
	right: -15px !important;
}

.registration-menu {
	position: relative;
}


@media (min-width: 993px) and (max-width: 1920px ) {
	header {
		/*width: 100vw;*/
	}

	.full-panel {
		width: 100%;
		padding: 0px;
		overflow: hidden;
	}

	.nav-right {
		height: 100%;		
	}

	.cont-panel {
		margin: 0 auto;
		float: left;
		width: 79%;
	}
	.cont-panel .login-panel1 {
		width: 40%;
		margin-left: 9vw;
	}
	.cont-panel .login-panel2 {
		width: 40%;
		float: left;
		/*margin-right: 2vw;*/
	}
	.nav-right {
		float: right;

	}
	.regs-nav {
		border-image: linear-gradient( to bottom, white, #ccc, white) 1 100%;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		float: right;
		/*height: 100%;*/
		margin-top: 0px !important;
		/*padding: 5vw 10px 7vw 10px;*/
		padding: 3vw 10px 7vw 10px;
		width: 20vw;
	}
	.regs-nav .control-icon  {
		margin: 0 auto;
		width: 100%;
		height: calc(100% / 7);

	}
	.regs-nav .ag-button {
		border: none;
		transition: background-color .2s linear;
		width: 100%;
		/*padding: 4px 10px 10px 10px;*/
		padding: 4px 10px 6px 10px;
	}

	.regs-nav button {

		transition: background-color: .5s linear;
		-webkit-transition: background-color: .5s linear;
		-moz-transition: background-color: .5s linear;
		-o-transition: background-color: .5s linear;
		-ms-transition: background-color: .5s linear;
	}
	.regs-nav button:hover {
		background-color: #f7941d;
		color: #fff;
	}
	.white-menu .control-icon:nth-child(8) {
		border: none;
	}

	.regs-panel {
		padding: 50px;
		margin-left: 10vw;
	}
	.registration-menu {
		float: right;
		width: 20vw;
		height: 100%;
	}
	.registration-menu .regs-nav {
		position: fixed;
	}
	.big-regs-panel .regs-panel {
		width: 60%;
	}

	.policy {
		text-align: center;
		margin-top: 50px;
	}
}
@media (max-width: 992px) and (min-width: 421px) {
	.full-panel {
		width: 100%;
		height: auto;
		position:relative;
		overflow: hidden;
		padding: 30px 80px 30px 30px;
	}
	.full-panel .regs-panel {
		width: 100%;
	}
	.full-panel .agreement {
		width: 100%;
	}
	.nav-right {
		position: absolute;
		/*top: 175px;*/
		top: 0px;
		right: -180px;
		margin-top: 30px;
		transition: right .5s;
		background-color: white;
		z-index: 2;
	}
	.nav-right .nav-response {
		display: block;
		padding: 12px;
		border: 2px solid #d8d8d6
	}
	.nav-right .white-menu .nav-response .fa {
		display: block;
		font-size: 20px;
	}
	.nav-right .white-menu {
		width: initial;
		padding-left: 0px;
	}
	.nav-right .white-menu .control-icon .fa {
		display: block;
		padding: 10px;
		font-size: 22px;
	}
	.nav-right .white-menu .ag-button {
		font-size: 15px;
		padding: 10px 10px 8px 65px;
	}
	.box-panel table tr td {
		width: 10% !important;
	}

	.policy {
		text-align: center;
		margin-top: 50px;
	}
}

@media (max-width: 500px) {

	.nav-right {
		/*top: 30px;*/
	}
	.para-content table tr td  {
		display: block;
		width: 100% !important;
	}
	.para-content table tr td p {
		margin: 0px !important;
		float: left !important;
	}
	.para-content table tr td input {
		margin-bottom: 5px;
	}
	.full-panel {
		padding: 20px 60px 10px 20px;
	}

	.full-panel .para-content {
		padding: 5px;
	}
	.regs-panel4 .para-content {
		padding: 5px !important;
	}
	.regs-panel4 .para-content > p {
		margin-left: 20px !important;
	}

	.policy {
		margin-top: 20px;
		text-align: center;
	}
	.policy button {
		display: block;
		margin: 10px auto;
	}
}

@media (max-width: 420px) and (min-width: 0px) {

	.full-panel {
		width: 100%;
		height: auto;
		position:relative;
		overflow: hidden;
		padding: 20px 60px 10px 20px;
	}
	.regs-panel {
		padding: 0px;
	}
	.full-panel .regs-panel {
		width: 100%;
	}
	.full-panel .agreement {
		width: 100%;
	}

	/*.full-panel .para-content table tr:first-child td:first-child {
		width: 30px !important;
	}
	.full-panel .para-content table tr td p {
		float: none !important;
		margin-right: 0px !important;
	}*/
	.full-panel .title-content {
		font-size: 5vw;
		padding-left: 10px;
	}

	.nav-right {
		position: absolute;
		/*top: 175px;*/
		top: 0px;
		right: -180px;
		margin-top: 30px;
		transition: right .5s;
		background-color: white;
		z-index: 2;
	}
	.nav-right .nav-response {
		display: block;
		padding: 12px;
		border: 2px solid #d8d8d6
	}
	.nav-right .white-menu .nav-response .fa {
		display: block;
		font-size: 20px;
	}
	.nav-right .white-menu {
		width: initial;
		padding-left: 0px;
	}
	.nav-right .white-menu .control-icon .fa {
		display: block;
		padding: 10px;
		font-size: 22px;
	}
	.nav-right .white-menu .ag-button {
		font-size: 15px;
		padding: 10px 10px 8px 65px;
	}
	/*.box-panel table tr td {
		width: 10% !important;
	}*/

}