.return-move-left {
	right: -15px !important;
}

.return-info-tbl.first-tbl tr td:first-child  {
	border-right: 2px solid rgba(0,0,0,0.3);
}

.second-tbl tbody tr td p {
	font-size: 15px;
}
.second-tbl tbody tr:first-child td:first-child  {
	border-right: 2px solid rgba(0,0,0,0.3);
	border-bottom: 2px solid rgba(0,0,0,0.3);
}
.second-tbl tbody tr:first-child td:nth-child(2) {
	border-bottom: 2px solid rgba(0,0,0,0.3);
	border-right: 2px solid rgba(0,0,0,0.3);
}
.second-tbl tbody tr:first-child td:last-child  {
	border-bottom: 2px solid rgba(0,0,0,0.3);
}
.second-tbl tbody tr:last-child td:first-child {
	border-right: 2px solid rgba(0,0,0,0.3);
}
.second-tbl tbody tr:last-child td:nth-child(2) {	
	border-right: 2px solid rgba(0,0,0,0.3);
}

.third-tbl td {
	border: 1px solid rgba(0,0,0,0.3);
}
.fourth-tbl td {
	padding: 15px 30px;
}
@media(min-width: 993px) and (max-width: 1950px) {
	
	.return-info-panel {
		width: 100%;
		padding: 0px;
		height: auto;
		min-height: 500px;
	}

	.return-info-panel .returninfo {
		padding: 20px 50px;
		margin-left: 10vw;
		width: 60%;
	}

}
@media (max-width: 992px) {
	.return-info-panel {
		width: 100%;
    	/*height: calc(100vh - 252px);*/
    	height: auto;
    	min-height: 500px;
    	position: relative;
    	overflow: hidden;
    	padding: 30px 80px 30px 30px;
	}
	.returninfo {
		position: relative;
    	display: block;
    	width: 100%;
	}

	.return-navigation {
		position: absolute;
	    top: 0px;
	    right: -200px;
	    margin-top: 30px;
	    transition: right .5s;
	    background-color: white;
	    z-index: 2;
	}

	.white-menu {
	    width: initial;
    	padding-left: 0px;
	}

	.box-panel .para-content table tr td p {
		/*float: left !important;*/
	}
	.nav-right .nav-response {
		display: block;
		padding: 12px;
		border: 2px solid #d8d8d6;
	}
	.nav-right .nav-response i {
		display: block;
		font-size: 20px;
	}
	.nav-right .control-icon .fa {
		display: block;
    	padding: 10px;
    	font-size: 22px;
	}
	.nav-right .control-icon .ag-button {
		font-size: 15px;
    	padding: 10px 40px 8px 100px;
    	text-align: center;
	}
	.white-menu .control-icon:nth-child(8) {
		border-bottom: none;
	}
	.white-menu .control-icon:last-child {
		border-bottom: 2px solid #d8d8d6;
	}

	.full-panel .title-content {
		font-size: 20px;
		height: auto;
	}
	
	
}
@media (max-width: 600px) {
	.second-tbl div p  {
		font-size: 15px !important;
	}
}

@media (max-width: 500px) {
	.full-panel {
		padding: 20px 60px 10px 20px;
	}
	.full-panel .returninfo {
		padding: 0px !important;
	}
	.full-panel .title-content {
		font-size: 20px;
		height: auto;
	}
	.return-info-tbl div {
		padding : 5px !important;
	}
}

@media (max-width: 420px) {
	.full-panel {
		height: auto;
		/*padding: 20px;*/
	}

}
