.ty-move-left {
	right: -15px !important;
}

@media(min-width: 993px) and (max-width: 1950px) {
	.ty-full-list 

		.ty-full-list {
		width: 100%;
		padding: 0px;
		height: calc(100vh - 253px);
	}

	.ty-full-list .ty-panel {
		padding: 20px 50px;
		margin-left: 10vw;
		width: 60%;
	}
}

@media (max-width: 992px) {
	.ty-full-list {
		width: 100%;
    	height: calc(100vh - 252px);
    	position: relative;
    	overflow: hidden;
    	padding: 30px 80px 30px 30px;
    	min-height: 500px;
	}
	.ty-panel {
		position: relative;
    	display: block;
    	width: 100%;
	}

	.ty-navigation {
		position: absolute;
	    top: 0px;
	    right: -200px;
	    margin-top: 30px;
	    transition: right .5s;
	    background-color: white;
	    z-index: 2;
	}

	.white-menu {
	    width: initial;
    	padding-left: 0px;
	}

	.box-panel .para-content table tr td p {
		float: left !important;
	}
	.nav-right .nav-response {
		display: block;
		padding: 12px;
		border: 2px solid #d8d8d6;
	}
	.nav-right .nav-response i {
		display: block;
		font-size: 20px;
	}
	.nav-right .control-icon .fa {
		display: block;
    	padding: 10px;
    	font-size: 22px;
	}
	.nav-right .control-icon .ag-button {
		font-size: 15px;
    	padding: 10px 40px 8px 100px;
    	text-align: center;
	}
	.white-menu .control-icon:nth-child(8) {
		border-bottom: none;
	}
	.white-menu .control-icon:last-child {
		border-bottom: 2px solid #d8d8d6;
	}
}
@media (max-width: 500px)  {
	.full-panel {
		padding: 20px 60px 10px 20px;
		height: auto;
		min-height: 500px;
	}
}