/* GENERAL DECLARATION */

input {
	border: 0;
    outline: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
}
.font-15 {
	font-size: 15px !important;
}
.font-lato {
	font-family: 'Lato-Regular' sans-serif;
}
.red-color-ag {
	color: #ff0000;
}

.move-right {
	right: -280px !important;
}
.move-left {
	right: -30px !important;
}

.compact-menu {
	width: 33.3% !important;
}
.compact-menu1 {
	width: 70% !important;
}
.compact-menu2 {
	width: 65% !important;
}

.fixed-page {
	height: calc(100vh - 103px);
}

.white-panel {
	height: calc(100vh - 210px);
	padding: 30px;
}
.full-panel {
	width: 1200px;
	margin: 0 auto;
	padding: 30px;
}
/*	.big-regs-panel {
		padding: 50px 30px;
	}*/
	.big-forgot-panel {
		padding: 50px 30px;	
		height: calc(100vh - 253px);
	}


.login-full-height {
	height: calc(100vh - 253px);
}
.full-height {
	/*height: calc(100vh - 210px);*/
}
/* select */

select{
	display: none;
}

.select{
	display: inline-block;
	vertical-align: middle;
}

.select,
.select .frm-custom-dropdown .frm-custom-dropdown-option{
	width: 180px;
}

.select.small,
.select.small .frm-custom-dropdown .frm-custom-dropdown-option{
	width: 115px;
}

.select.large,
.select.large .frm-custom-dropdown .frm-custom-dropdown-option{
	width: 230px;
}

.select.xlarge,
.select.xlarge .frm-custom-dropdown .frm-custom-dropdown-option{
	width: 255px;
}

.select .frm-custom-dropdown{
	width: 100%;
}

.select .frm-custom-dropdown .frm-custom-dropdown-txt{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 32px);
	border-style: solid none solid solid;
	border-radius: 3px 0px 0px 3px;
	border-width: 1px;
	border-color: #A8A8A8;
	overflow: hidden;
	background: #fff;


	transition: border-color .5s;
}

.select .frm-custom-dropdown .frm-custom-dropdown-txt input[type='text']{
	/*padding: 6px 0 0px 10px;*/
	padding: 6px 5px;
	margin: 0px;
	width: 100%;
	border: none;
	font-size: 12px;
	outline: none;
}

.select .frm-custom-dropdown .frm-custom-icon{
	display: inline-block;
	vertical-align: middle;
	right: 0;
	width: 32px;
	height: 31px;
	border-style: solid solid solid none;
	border-radius: 0px 3px 3px 0px;
	border-width: 1px;
	border-color: #A8A8A8;
	background: #fff url(../images/ui/select-arrow.png) no-repeat;
	background-size: 10px 6px;
	background-position: center;
	cursor: pointer;

	transition: border-color .5s;
}

.select:hover .frm-custom-dropdown .frm-custom-dropdown-txt,
.select:hover .frm-custom-dropdown .frm-custom-icon{
	border-color: #009cff;

	transition: border-color .5s;
}

.select .frm-custom-dropdown .frm-custom-dropdown-option{
	position: absolute;
	display: none;
	/*height: auto;*/
	border: solid 1px #A8A8A8;
	border-radius: 3px;
	/*overflow: hidden;*/
	box-shadow: 0 2px 10px rgba(0,0,0,.3);
	cursor: pointer;
	z-index: 999;
	height: 300px;
	overflow-y: auto;
}

.select .frm-custom-dropdown .frm-custom-dropdown-option .option{
	padding: 5px 10px;
	font-size: 12px;
	background-color: #fff;
	color: #333;

	transition: background-color .5s, color .5s;
}

.select .frm-custom-dropdown .frm-custom-dropdown-option .option:hover{
	background-color: #13525f;
	color: #fff;

	transition: all .5s;
}



.box-panel {}
.login-panel1,
.login-panel2 {
	position: relative;
	z-index: 1;
}

	.box-panel, 
	.box-panel.open-menu {
		transition: width .5s;
	}

	.box-panel .title-content {
		background-color: #13525f;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		color: #fff;
		font-size: 25px;
		font-family: 'Lato-Light', sans-serif;
		height: 53px;
		padding: 8px;
		padding-left: 30px;
		/*width: 394px;*/
		width: 100%;
	}

	.box-panel .para-content {
		border-left: 2px solid #d8d8d6;
		border-bottom: 2px solid #d8d8d6;
		border-right: 2px solid #d8d8d6;
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
		padding: 20px;
	}

	.box-panel .para-content .para-title {
		font-size: 15px;
		font-family: 'Lato-Regular', sans-serif;
		font-weight: bold;
		/*padding: 10px 0;*/
		padding: 3px 0 10px 0;
	}
	.box-panel .para-content p:nth-of-type(2) {
		font-size: 15px;
	}
	.box-panel .para-content button {
		margin: 10px 0;
	}


.white-menu {

}

	.white-menu .nav-response {
		display: none;
	}
	.white-menu .ag-button {
		background-color: #fff;
		border-left: 2px solid #d8d8d6;
		border-right: 2px solid #d8d8d6;
		border-top: 2px solid #d8d8d6;
		border-radius: 0px;
		color: #000;
		font-family: 'Lato-Regular', sans-serif;
		font-size: 20px;
		padding-left: 25px;
		text-transform: none;
		width: 100%;
	}

/*	.white-menu .control-icon:nth-child(8) {
		border-bottom: 2px solid #d8d8d6;
	}*/


/*	.white-menu .control-icon:nth-child(9) {
		border-bottom: 2px solid #d8d8d6;	
	}*/

/*	.white-menu .control-icon:nth-child(11) {
		border-bottom: 2px solid #d8d8d6;
	}*/
	.white-menu button:hover {
		background-color: #f7941d;	
	}
	.white-menu .control-icon {
		position: relative;
	}
	.white-menu .control-icon .fa {
		border-right: 2px solid #d8d8d6;
		cursor: pointer;
		font-size: 30px;
		left: 2px;
		padding: 10px 10px 20px 10px;
		position: absolute;
		transition: color .5s;
		top: 1px;
		width: 50px;
	}
	.white-menu .control-icon .fa:hover {
		color: #aaa;
	}


	.white-menu i {
		display: none;
	}


/*agreement*/
.agreement {
	margin: 40px auto 10px;
	text-align: center;
	width: 1200px;
}
.agreement input {
	cursor: pointer;
}
.agreement button {
	margin-left: 30px;
}


/*wishlist*/
.wishlist-full-panel {
	padding: 40px 20px;
}
.wishlist {
	/*float: left ;*/
	/*margin-right: 30px;*/
	/*width: 60%;*/
	/*position: relative;*/
	/*z-index: 1;*/
}
.wish-panel {
	float: left;
	width: 35%;
}

.para-content .tbl-wish {
	/*border: 1px solid #d8d8d6;*/
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;	
	border-collapse: separate !important;
	border-collapse: 0;
	overflow: hidden;
	width: 100%;
}
	.para-content .tbl-wish tr:last-child td:first-child {
		border-bottom-left-radius: 8px;		
	}
	.para-content .tbl-wish tr:last-child td:last-child {
		border-bottom-right-radius: 8px;
	}
	.para-content .tbl-wish th,
	.para-content .tbl-wish td {
		border: 1px solid #d8d8d6;	
		padding: 5px 15px;
	}
	.para-content th {
		font-size: 15px;
		font-family: 'Lato-Regular', sans-serif;
	}
	.wishlist .para-content {
		border: 0;
	/*	border-left: 1px solid #d8d8d6;
		border-right: 1px solid #d8d8d6;
		border-bottom: 1px solid #d8d8d6;*/
	}

footer .foot2 .fas-logo p {
	margin-right: 30px;
}


@media (max-width: 992px) {
	.white-menu .control-icon:last-child {
		border-bottom: 2px solid #d8d8d6;
	}

	
/*	.white-menu .control-icon:nth-child(9) {
		border-bottom: 2px solid #d8d8d6;	
	}*/
}
