.wish-move-left {
	right: -15px !important;
}
.font-19 {
	font-size: 19px !important;
}

@media (max-width: 1366px ){
	.full-panel {
		height: auto;
	}
}

@media (min-width: 993px) and (max-width: 1920px ) {
	.full-panel {
		width: 100%;
		padding: 0px;
		height: calc(100vh - 253px);
		min-height: 500px;
	}

	.nav-right {
		height: 100%;		
	}

	.cont-panel {
		margin: 0 auto;
		float: left;
		width: 79%;
	}
	.cont-panel .login-panel1 {
		width: 40%;
		margin-left: 9vw;
	}
	.cont-panel .login-panel2 {
		width: 40%;
		float: left;
		/*margin-right: 2vw;*/
	}
	.nav-right {
		float: right;
		width: 20vw;
	}
	.wish-nav {
		position: fixed;
		border-image: linear-gradient(to bottom, white, #ccc, white) 1 100%;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		float: right;
		height: 100%;
		margin-top: 0px !important;
		/*padding: 5vw 10px 7vw 10px;*/
		padding: 3vw 10px 7vw 10px;
		width: 20vw;
	}
	.wish-nav .control-icon  {
		margin: 0 auto;
		width: 100%;

	}
	.wish-nav .ag-button {
		border: none;
		transition: background-color .2s linear;
		width: 100%;
		/*padding: 4px 10px 10px 10px;*/
		padding: 4px 10px 6px 10px;
	}

	.wish-nav button {

		transition: background-color: .5s linear;
		-webkit-transition: background-color: .5s linear;
		-moz-transition: background-color: .5s linear;
		-o-transition: background-color: .5s linear;
		-ms-transition: background-color: .5s linear;
	}
	.wish-nav button:hover {
		background-color: #f7941d;
		color: #fff;
	}
	.white-menu .control-icon:nth-child(8) {
		border: none;
	}
	.wishlist {
		padding: 50px;
		/*width: 60%;*/
		margin-left: 10vw;
	}

	.tbl-wish thead th p {
		text-align: center !important;
		float: none !important;
	}
	.tbl-wish tbody .ag-button {
		width: 30px;
		height: 30px !important;
		padding: 10px;
	}
	.tbl-wish tbody tr td:last-child div {
		float: none !important;
		text-align: center; 
	}
	.tbl-wish tbody .ag-button  {

	}
}

@media (max-width: 992px) {
	.wishlist-full-panel {
		width: 100%;
    	height: calc(100vh - 230px);
    	position: relative;
    	overflow: hidden;
    	padding: 30px 80px 30px 30px;
    	min-height: 550px;

	}
	.wishlist {
		position: relative;
    	display: block;
    	width: 100%;
	}
	.para-cotnent {
		width: 100%;
		overflow-x : auto;
	}
	.para-content .tbl-wish {
		min-width: 300px;
	}

	.wish-table .ag-button {
		width: 30px;
		height: 30px;
	}
	.wish-table .ag-button i {
		font-size: 18px !important;
	}

	.box-panel .title-content {
		/*min-width: 419px;*/
	}
/*	.box-panel .tbl-wish tr td,
	.box-panel .tbl-wish tr th {
		padding: 5px;
	}*/
/*	.box-panel .tbl-wish tr p {
		float: left !important;
	}*/

	.wish-navigation {
		position: absolute;
	    top: 0px;
	    right: -196px;
	    margin-top: 30px;
	    transition: right .5s;
	    background-color: white;
	    z-index: 2;
	}

	.white-menu {
	    width: initial;
    	padding-left: 0px;
	}

/*	.box-panel .para-content table tr td p {
		float: left !important;
	}*/
	.nav-right .nav-response {
		display: block;
		padding: 12px;
		border: 2px solid #d8d8d6;
	}
	.nav-right .nav-response i {
		display: block;
		font-size: 20px;
	}
	.nav-right .control-icon .fa {
		display: block;
    	padding: 10px;
    	font-size: 22px;
	}
	.nav-right .control-icon .ag-button {
		font-size: 15px;
    	padding: 10px 40px 8px 100px;
    	text-align: center;
	}
	.white-menu .control-icon:nth-child(8) {
		border-bottom: none;
	}
	.white-menu .control-icon:last-child {
		border-bottom: 2px solid #d8d8d6;
	}

}	


@media (max-width: 768px) and (min-width: 0px) {
	.wishlist-full-panel {
		height: auto;
		 padding: 30px 80px 30px 30px;
		 min-height: 650px;
	}
	.para-content .tbl-wish {
		min-width: 10px ;
	}

	/* Force table to not be like tables anymore */
	.wish-table, .wish-table thead, .wish-table tbody, .wish-table th, .wish-table td, .wish-table tr { 
		display: block; 
	}
	
	.wish-table  tbody tr td p.f-right {
		float: none !important;
	}
	.wish-table  tbody tr td .button-inside {
		
		margin-top: 30px;
	}
	/* Hide table headers (but not display: none;, for accessibility) */
	.wish-table thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.wish-table tr { border: 1px solid #ccc; }
	
	.wish-table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	.wish-table td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 100%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	.wish-table tr td .button-inside {
		float: right !important;
		margin-top: 20px ;
	}
	
	/*
	Label the data
	*/
	.wish-table td:nth-of-type(1):before { 
		content: "Product Name";
		text-align: right;
	 }
	.wish-table td:nth-of-type(2):before { 
		content: "Product Code";
		text-align: right;
	 }
	.wish-table td:nth-of-type(3):before { 
		content: "Stock";
		text-align: right;
	 }
	.wish-table td:nth-of-type(4):before { 
		content: "Unit Price";
		text-align: right;
	 }
	.wish-table td:nth-of-type(5):before { 
		content: "Action";
		text-align: right;
	 }
	
}

@media (max-width: 500px) {
	.full-panel {
		padding: 20px 60px 10px 20px;
	}
	.title-content {
	    font-size: 20px !important;
    	height: auto !important;
	}
	.full-panel .wishlist-box {
		padding: 0px;

	}
}

@media (max-width: 420px) {
	.wishlist-full-panel {
		height: auto;
	}
}
